@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'NanumSquareNeo-Variable', 'serif';
}

main {
  width: 1280px;
  padding: 0 1rem;
}

nav, .menubar {
  background-color: #F5F5F5;
  border-bottom: 1px solid rgb(229 231 235);
}

.menubar {
  border-bottom: solid 1px rgb(223 223 223);
}

.menubar-content {
  width: 1280px;
  padding: 0 1rem;
  justify-content: space-between;
}

.menubar-content-list:hover {
  color: #99CCFF;
}

.navbar-text, .menubar {
    display: flex;
    align-items: center;
}

#profile-img {
  border-radius: 100%;
  overflow: hidden;
  width: 2.5rem;
  height: 2.5rem;
}

#profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#wrap {
    /* calc() : 괄호 안의 식을 계산한 결과를 속성값으로 사용하게 해주는 함수 */
    min-height: calc(100vh - 8rem); /* footer 높이를 빼준다. */
}

footer {
    height: 8rem; /* footer 높이 */
}