@font-face {
  font-family: 'NanumSquareNeo-Variable';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'NanumSquareNeo-Variable', 'serif';
}

main {
  width: 1280px;
  padding: 0 1rem;
}

.nav-sticky {
  position: sticky;
  top: 0;
  z-index: 100;
}

nav, .menubar {
  background-color: #F5F5F5;
}

.menubar {
  border-top: solid 1px rgb(223 223 223);
  border-bottom: solid 1px rgb(223 223 223);
}

.menubar-content {
  width: 1280px;
  padding: 0 1rem;
  justify-content: space-around;
}

.menubar-content-list:active {
  border-bottom: 3px solid #99CCFF;
  z-index: 1;
}

.menubar-content-list:hover {
  color: #99CCFF;
}

.navbar-text, .menubar {
    display: flex;
    align-items: center;
}



#wrap {
    /* calc() : 괄호 안의 식을 계산한 결과를 속성값으로 사용하게 해주는 함수 */
    min-height: calc(100vh - 8rem); /* footer 높이를 빼준다. */
}

footer {
    height: 8rem; /* footer 높이 */
}

