{% extends 'base_profile.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock head %}

{% block content %}
  <!-- 프로필 -->
  <div class="title-container">
    <p class="text-4xl">프로필</p>
  </div>

  <div class="profile-container">
    <div class="flex flex-row">
      <div class="profile-image m-10">
        {% if user.profile_img %}
          <img src="{{ user.profile_img.url }}" alt="profile_img">
        {% else %}
          <img src="https://i.pinimg.com/564x/d2/98/4e/d2984ec4b65a8568eab3dc2b640fc58e.jpg" alt="no_image">
        {% endif %}
      </div>
      <div class="mt-14">
        <p class="user-name">{{ user }}</p>
        <div class="flex items-end gap-4">
          <a href="{% url 'accounts:update' user.username %}">
            <button class="button-setting mt-10">
              <p class="text-base">설정</p>
            </button>
          </a>
          <a href="{% url 'accounts:logout' %}">
            <button class="button-setting-big logout-button mt-10">
              <p class="text-sm">로그아웃</p>
            </button>
          </a>
        </div>
      </div>
    </div>
    <section id="example-1">
    {% comment %} <hr class="profile-line">
    
    <div class="flex flex-row justify-around">
      <div class="text-center m-5">
        <img src="/static/img/icon_bookmark.png" alt="icon_bookmark" class="profile-icon">
        <section id="example-1">

        <p>스크랩북</p>
        <p>0</p>
      </div>
      <div class="text-center m-5">
        <img src="/static/img/icon_heart.png" alt="icon_heart" class="profile-icon">
        <p>리뷰스크랩</p>
        <p>0</p>
      </div>      <div class="text-center m-5">
        <img src="/static/img/icon_coupon.png" alt="icon_coupon" class="profile-icon">
        <p>쿠폰</p>
        <p>0</p>
      </div>
    </div> {% endcomment %}
  </div>
  

  <!-- 나의 쇼핑 -->
  <div></div>
  <div class="title-container mt-36">
    <p class="text-4xl">나의 쇼핑</p>
  </div>

  <!-- 조회 결과 없을 때, 차후에 if문으로 변경할 것 -->
  <div class="purchased_item-container">
    <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-white bg-[#99ccff] hover:bg-[#409fff] font-medium rounded-lg text-sm px-4 py-2.5 m-10 text-center inline-flex items-center" type="button">조회 기간<svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
    <!-- Dropdown menu -->
    <div id="dropdown" class="z-10 hidden bg-white divide-y rounded-lg shadow w-44">
      <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-[#99ccff]">1개월 전</a>
        </li>
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-[#99ccff]">3개월 전</a>
        </li>
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-[#99ccff]">6개월 전</a>
        </li>
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-[#99ccff]">1년 전</a>
        </li>
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-[#99ccff]">2년 전</a>
        </li>
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-[#99ccff]">3년 전</a>
        </li>
      </ul>
    </div>
    <p class='text-xl text-center mb-20'>주문하신 내역이 없습니다.</p>
  </div>

    <!-- 조회 결과가 1건이라도 있을 때 -->
  <div class="purchased_item-container">
    <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class="text-white bg-[#99ccff] hover:bg-[#409fff] font-medium rounded-lg text-sm px-4 py-2.5 m-10 text-center inline-flex items-center" type="button">조회 기간<svg class="w-4 h-4 ml-2" aria-hidden="true" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7"></path></svg></button>
    <!-- Dropdown menu -->
    <div id="dropdown" class="z-10 hidden bg-white divide-y rounded-lg shadow w-44">
      <ul class="py-2 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefaultButton">
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-[#99ccff]">1개월 전</a>
        </li>
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-[#99ccff]">3개월 전</a>
        </li>
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-[#99ccff]">6개월 전</a>
        </li>
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-[#99ccff]">1년 전</a>
        </li>
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-[#99ccff]">2년 전</a>
        </li>
        <li>
          <a href="#" class="block px-4 py-2 hover:bg-[#99ccff]">3년 전</a>
        </li>
      </ul>
    </div>

    <p class="text-xl ms-5 p-3">2023.05.12</p>
    <hr class="purchase-line">

    <p class="text-xl ms-10 mt-5 "><span class="text-[#99ccff]">구매확정 5/12(금)</span> - 도착완료</p>
    <div class="flex flex-row">
      <div class="purchased_item-image m-10">
        <img src="/static/img/products_sample.png" alt="icon_profile">
      </div>

      <div class="mt-10">
        <p class="text-sm mb-1">라이프썸</p>
        <p class="text-lg mb-1">슬림 블루투스 업무용 저소음 키보드</p>
        <p class="text-lg mb-1">(LFS-HA39) 7종 택1</p>
        {{purchase_list}}
        <ul>
          {% for purchase in purchase_list %}
            <li>
              <h3>Date: {{ purchase.date }}</h3>
              <p>Total Price: {{ purchase.total_price }}</p>
              <ul>
                {% for purchase_item in purchase.purchase_items %}
                  <li>
                    Product: {{ purchase_item.product }}
                    Quantity: {{ purchase_item.cnt }}
                  </li>
                {% endfor %}
              </ul>
            </li>
          {% endfor %}
        </ul>
      </div>

      <div class="ms-24 mt-10">
        <p class="text-lg mb-1">청축</p>
        <p class="text-xl mb-1">49,000원 1개</p>
        <p class="text-[#99ccff]">일반택배</p>
      </div>

      <div class="ms-32 flex flex-column">
        <button class="button-big button-color-delivery mt-5">
          <p class="text-base">배송 추적</p> <!-- 기능 변경 필요, 배송 현황은 알 수 없을 것 같아서 예를 들면 상품 보러가기 라던지 -->
        </button>
        <button class="button-big button-color-review mt-8">
          <p class="text-base">리뷰 작성</p>
        </button>
      </div>
    </div>

    <p class="text-xl ms-5 p-3">2023.05.11</p>
    <hr class="purchase-line">

    <p class="text-xl ms-10 mt-5 "><span class="text-[#99ccff]">구매확정 5/11(목)</span> - 도착완료</p>
    <div class="flex flex-row">
      <div class="purchased_item-image m-10">
        <img src="/static/img/products_sample.png" alt="icon_profile">
      </div>

      <div class="mt-10">
        <p class="text-sm mb-1">라이프썸</p>
        <p class="text-lg mb-1">슬림 블루투스 업무용 저소음 키보드</p>
        <p class="text-lg mb-1">(LFS-HA39) 7종 택1</p>
      </div>

      <div class="ms-24 mt-10">
        <p class="text-lg mb-1">청축</p>
        <p class="text-xl mb-1">49,000원 1개</p>
        <p class="text-[#99ccff]">일반택배</p>
      </div>

      <div class="ms-32 flex flex-column">
        <button class="button-big button-color-delivery mt-5">
          <p class="text-base">배송 추적</p>
        </button>
        <button class="button-big button-color-review mt-8">
          <p class="text-base">리뷰 작성</p>
        </button>
      </div>
    </div>

    <section id="example-2">
    <div aria-label="Page navigation example" class="text-center m-5">
      <ul class="inline-flex items-center -space-x-px">
        <li>
          <a href="#" class="block px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-[#99ccff] hover:text-gray-700">
            <span class="sr-only">Previous</span>
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
          </a>
        </li>
        <li>
          <a href="#" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-[#99ccff] hover:text-gray-700">1</a>
        </li>
        <li>
          <a href="#" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-[#99ccff] hover:text-gray-700">2</a>
        </li>
        <li>
          <a href="#" aria-current="page" class="z-10 px-3 py-2 leading-tight text-blue-600 border border-blue-300 bg-[#99ccff] hover:bg-[#409fff] hover:text-blue-700">3</a>
        </li>
        <li>
          <a href="#" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-[#99ccff] hover:text-gray-700">4</a>
        </li>
        <li>
          <a href="#" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-[#99ccff] hover:text-gray-700">5</a>
        </li>
        <li>
          <a href="#" class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-[#99ccff] hover:text-gray-700">
            <span class="sr-only">Next</span>
            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
          </a>
        </li>
      </ul>
    </div>
  </div>


  <!-- 나의 리뷰 -->
  <div class="title-container mt-36">
    <p class="text-4xl">나의 리뷰<span class='ms-3 me-1 text-[#99ccff]'>{{ review_list|length }}</span>개</p>
  </div>


  {% if review_list %}
    <!-- 조회 결과가 1건이라도 있을 때 -->
    <div class="purchased_item-container">
      <button class="button-middle button-color-delivery ms-10 mt-10">
        <p>베스트</p>
      </button>
      <button class="button-middle button-color-delivery ms-3 mt-10">
        <p>최신순</p>
      </button>

      {% for review in review_list %}
        <div class="flex flex-row">
          <div class="my-10 ms-10 me-20">
            <p class="text-xl mb-2">[{{ review.product.category.brand }}] {{ review.product.name }} </p>
            <div class='flex'>
              <p class="mb-3 me-3 stars" data-raing={{ review.rating}}>{{ review.rating }}</p>
              <p class="text-base mb-3"> {{ review.created_at|date:'Y.m.d' }}</p>       
            </div>
            {% for image in review.images.all %}
              <img src="{{ image.img.url }}"  alt="리뷰 사진" style="width:112px; height:112px; margin-top:10px;">
            {% endfor %}
            <p class="text-lg mb-2 "> {{ review.content }} </p>
          </div>
          <div class="ms-auto me-12 flex justify-center items-center">
            <a data-te-nav-link-ref class="bg-transparent px-[5px] menubar-content-list font-semibold text-neutral-600 shadow-none" href="/products/{{ review.product.pk }}/#example-4">
              <button class="button-big button-color-review mt-8">
                <p class="text-base">리뷰 보러가기</p>
              </button>
            </a>
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    <div class="purchased_item-container">
      <button class="button-middle button-color-delivery ms-10 my-10">
        <p>베스트</p>
      </button>
      <button class="button-middle button-color-delivery ms-3 my-10">
        <p>최신순</p>
      </button>
      <p class='text-xl text-center mb-20'>리뷰를 작성하신 내역이 없습니다.</p>
    </div>
  {% endif %}
  <section id="example-3">


  
  <!-- 나의 문의 -->
  <div class="title-container mt-36">
    <p class="text-4xl">나의 문의<span class='ms-3 me-1 text-[#99ccff]'>{{ inquiries|length }}</span>개</p>
  </div>

  <!-- 조회 결과가 1건이라도 있을 때 -->
  <div class="purchased_item-container mb-36">
    <button class="button-middle button-color-delivery ms-10 mt-10">
      <p>전체 보기</p>
    </button>
    <button class="button-middle button-color-delivery ms-3 mt-10">
      <p>답변 완료</p>
    </button>
    {% if inquiries %}
      {% for inquiry in inquiries %}
        <div class="flex flex-row">
          <div class="my-10 ms-10 me-20">
            <p class="text-xl mb-2">[{{ inquiry.product.category.brand }}] {{ inquiry.product.name }} </p>
            <p class="text-sm mb-5"> {{ inquiry.created_at }}</p>

            <div class="mb-2.5">
              <p class='ms-5 mb-5'><span class="product-inquiry-qa">Q &nbsp;</span>{{ inquiry.content }}</p>
            </div>
            
            {% if inquiry.answer %}
              <div class="mb-2.5">
                <p class='ms-5 mb-5'><span class="product-inquiry-qa">A &nbsp;</span><span style="font-weight: 700; color: #424242; font-size: 15px;">주식회사 인스토어 &nbsp;</span><span style="font-size: 12px; color: #bdbdbd;">{{ inquiry.answer.created_at }}</span></p>
                <p class='ms-5'>{{ inquiry.answer.content }}</p>
              </div>
            {% endif %}
          </div>
          
          <div class="ms-auto me-12 flex justify-center items-center">
            <a data-te-nav-link-ref class="bg-transparent px-[5px] menubar-content-list font-semibold text-neutral-600 shadow-none" href="/products/{{ inquiry.product.pk }}/#example-4">
              <button class="button-big button-color-review">
                <p class="text-base">답변 보러가기</p>
              </button>
            </a>
          </div>
        </div>
      {% endfor %}
    {% else %}
      <p class='text-xl text-center mb-20'>문의하신 내역이 없습니다.</p>
    {% endif %}
  </div>
{% endblock content %}


{% block script %}
<script type="text/javascript" src="/static/JS/product_detail.js"></script>
<script>
  const starsEl = document.querySelectorAll(".stars");
  starsEl.forEach((stars) => {
    const numStars = Number(stars.textContent); // 출력할 별점 개수
    stars.textContent = ''
    const star = '<svg fill="#99CCFF" width=".8em" height=".8em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><defs><path id="star-path-31" d="M11.9996 19.7201L6.32294 22.1251C5.5626 22.4472 5.005 22.0311 5.0755 21.2188L5.60855 15.0767L1.5671 10.421C1.02579 9.79745 1.24924 9.13855 2.04358 8.95458L8.04973 7.56354L11.2287 2.28121C11.6545 1.57369 12.3502 1.5826 12.7706 2.28121L15.9496 7.56354L21.9557 8.95458C22.7602 9.1409 22.9667 9.8053 22.4322 10.421L18.3907 15.0767L18.9238 21.2188C18.9952 22.0414 18.4271 22.4432 17.6764 22.1251L11.9996 19.7201Z"></path><clipPath id="star-clip-31"><rect x="0" y="0" width="24" height="24"></rect></clipPath></defs><use xlink:href="#star-path-31" fill="#DBDBDB"></use><use clip-path="url(#star-clip-31)" xlink:href="#star-path-31"></use></svg>'
    for (let i = 0; i < numStars; i++) {
      stars.innerHTML += star;
    }
    stars.classList.add('flex', 'items-center')
  })
</script>
{% endblock script %}