{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/category.css' %}">
{% endblock head %}


{% block content %}
  <div class="banner">
    <div>
      <img src="https://image.ohou.se/i/bucketplace-v2-development/uploads/store/banners/store_home_banners/168353485320486610.png?w=2560" alt="">
    </div>
  </div>

  <div class="relative flex mt-4 mb-32">
    <div class="sidebar-wrap shrink-0 pt-4">
      <div class="flex sticky -top-4 justify-between text-sm">
        <p class="font-bold">필터</p>
        <button class="reset-button flex items-center text-xs">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4 mr-2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
          </svg>            
          <p>필터 초기화</p>
        </button>
      </div>
      <hr class="mt-4">
      <div class="sidebar">
        <div id="accordion-flush" data-accordion="open" data-active-classes="bg-white dark:bg-gray-900 text-gray-900 dark:text-white" data-inactive-classes="text-gray-500 dark:text-gray-400">
          <h2 id="accordion-flush-heading-1">
            <button type="button" class="flex items-center justify-between w-full pb-3 text-sm text-left text-gray-500 dark:text-gray-400" data-accordion-target="#accordion-flush-body-1" aria-expanded="true" aria-controls="accordion-flush-body-1">
              <span class="hover:opacity-70">제조사</span>
              <svg data-accordion-icon class="w-6 h-6 rotate-180 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
          </h2>
          <div id="accordion-flush-body-1" class="hidden" aria-labelledby="accordion-flush-heading-1">
            <div class="category-list">
              <div class="flex flex-col items-start mb-4 gap-4">
                <div class="category-item">
                  <input type="checkbox" name="brand" value="덱" class="main-checkbox w-4 h-4 bg-gray-100 border-gray-300 rounded">
                  <label for="main-checkbox" class="ml-2 font-medium text-gray-900 dark:text-gray-300">덱</label>
                </div>
                <div class="category-item">
                  <input type="checkbox" name="brand" value="레오폴드" class="main-checkbox w-4 h-4 bg-gray-100 border-gray-300 rounded">
                  <label for="main-checkbox" class="ml-2 font-medium text-gray-900 dark:text-gray-300">레오폴드</label>
                </div>
                <div class="category-item">
                  <input type="checkbox" name="brand" value="로지텍" class="main-checkbox w-4 h-4 bg-gray-100 border-gray-300 rounded">
                  <label for="main-checkbox" class="ml-2 font-medium text-gray-900 dark:text-gray-300">로지텍</label>
                </div>
                <div class="category-item">
                  <input type="checkbox" name="brand" value="리얼포스" class="main-checkbox w-4 h-4 bg-gray-100 border-gray-300 rounded">
                  <label for="main-checkbox" class="ml-2 font-medium text-gray-900 dark:text-gray-300">리얼포스</label>
                </div>
                <div class="category-item">
                  <input type="checkbox" name="brand" value="앱코" class="main-checkbox w-4 h-4 bg-gray-100 border-gray-300 rounded">
                  <label for="main-checkbox" class="ml-2 font-medium text-gray-900 dark:text-gray-300">앱코</label>
                </div>
                <div class="category-item">
                  <input type="checkbox" name="brand" value="커세어" class="main-checkbox w-4 h-4 bg-gray-100 border-gray-300 rounded">
                  <label for="main-checkbox" class="ml-2 font-medium text-gray-900 dark:text-gray-300">커세어</label>
                </div>
                <div class="category-item">
                  <input type="checkbox" name="brand" value="콕스" class="main-checkbox w-4 h-4 bg-gray-100 border-gray-300 rounded">
                  <label for="main-checkbox" class="ml-2 font-medium text-gray-900 dark:text-gray-300">콕스</label>
                </div>
                <div class="category-item">
                  <input type="checkbox" name="brand" value="키크론" class="main-checkbox w-4 h-4 bg-gray-100 border-gray-300 rounded">
                  <label for="main-checkbox" class="ml-2 font-medium text-gray-900 dark:text-gray-300">키크론</label>
                </div>
            </div>
            </div>
          </div>
          <h2 id="accordion-flush-heading-2">
            <button type="button" class="flex items-center justify-between w-full py-3 text-sm text-left text-gray-500 dark:text-gray-400" data-accordion-target="#accordion-flush-body-2" aria-expanded="true" aria-controls="accordion-flush-body-2">
              <span class="hover:opacity-70">유선/무선</span>
              <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
          </h2>
          <div id="accordion-flush-body-2" class="hidden" aria-labelledby="accordion-flush-heading-1">
            <div class="category-list">
              <div class="flex flex-col items-start mb-4 gap-4">
                <div>
                  <input type="checkbox" name="bluetooth" value="False" class="main-checkbox w-4 h-4 bg-gray-100 border-gray-300 rounded">
                  <label for="main-checkbox" class="ml-2 font-medium text-gray-900 dark:text-gray-300">유선</label>
                </div>
                <div>
                  <input type="checkbox" name="bluetooth" value="True" class="main-checkbox w-4 h-4 bg-gray-100 border-gray-300 rounded">
                  <label for="main-checkbox" class="ml-2 font-medium text-gray-900 dark:text-gray-300">무선</label>
                </div>
              </div>
            </div>
          </div>
          <h2 id="accordion-flush-heading-3">
            <button type="button" class="flex items-center justify-between w-full py-3 text-sm text-left text-gray-500 dark:text-gray-400" data-accordion-target="#accordion-flush-body-3" aria-expanded="true" aria-controls="accordion-flush-body-3">
              <span class="hover:opacity-70">스위치</span>
              <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
          </h2>
          <div id="accordion-flush-body-3" class="hidden" aria-labelledby="accordion-flush-heading-1">
            <div class="category-list">
              <div class="flex flex-col items-start mb-4 gap-4">
                <div>
                  <input type="checkbox" name="switch" value="저소음 적축" class="main-checkbox w-4 h-4 bg-gray-100 border-gray-300 rounded">
                  <label for="main-checkbox" class="ml-2 font-medium text-gray-900 dark:text-gray-300">저소음 적축</label>
                </div>
                <div>
                  <input type="checkbox" name="switch" value="적축" class="main-checkbox w-4 h-4 bg-gray-100 border-gray-300 rounded">
                  <label for="main-checkbox" class="ml-2 font-medium text-gray-900 dark:text-gray-300">적축</label>
                </div>
                <div>
                  <input type="checkbox" name="switch" value="갈축" class="main-checkbox w-4 h-4 bg-gray-100 border-gray-300 rounded">
                  <label for="main-checkbox" class="ml-2 font-medium text-gray-900 dark:text-gray-300">갈축</label>
                </div>
                <div>
                  <input type="checkbox" name="switch" value="청축" class="main-checkbox w-4 h-4 bg-gray-100 border-gray-300 rounded">
                  <label for="main-checkbox" class="ml-2 font-medium text-gray-900 dark:text-gray-300">청축</label>
                </div>
                <div>
                  <input type="checkbox" name="switch" value="흑축" class="main-checkbox w-4 h-4 bg-gray-100 border-gray-300 rounded">
                  <label for="main-checkbox" class="ml-2 font-medium text-gray-900 dark:text-gray-300">흑축</label>
                </div>
            </div>
            </div>
          </div>
          <h2 id="accordion-flush-heading-4">
            <button type="button" class="flex items-center justify-between w-full py-3 text-sm text-left text-gray-500 dark:text-gray-400" data-accordion-target="#accordion-flush-body-4" aria-expanded="true" aria-controls="accordion-flush-body-4">
              <span class="hover:opacity-70">키압</span>
              <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
          </h2>
          <div id="accordion-flush-body-4" class="hidden" aria-labelledby="accordion-flush-heading-1">
            <div class="category-list">
              <div class="flex flex-col items-start mb-4 gap-4">
                <div>
                  <input type="checkbox" name="pressure" value="30,39" class="main-checkbox w-4 h-4 bg-gray-100 border-gray-300 rounded">
                  <label for="main-checkbox" class="ml-2 font-medium text-gray-900 dark:text-gray-300">30g ~ 39g</label>
                </div>
                <div>
                  <input type="checkbox" name="pressure" value="40,49" class="main-checkbox w-4 h-4 bg-gray-100 border-gray-300 rounded">
                  <label for="main-checkbox" class="ml-2 font-medium text-gray-900 dark:text-gray-300">40g ~ 49g</label>
                </div>
                <div>
                  <input type="checkbox" name="pressure" value="50,59" class="main-checkbox w-4 h-4 bg-gray-100 border-gray-300 rounded">
                  <label for="main-checkbox" class="ml-2 font-medium text-gray-900 dark:text-gray-300">50g ~ 59g</label>
                </div>
                <div>
                  <input type="checkbox" name="pressure" value="60," class="main-checkbox w-4 h-4 bg-gray-100 border-gray-300 rounded">
                  <label for="main-checkbox" class="ml-2 font-medium text-gray-900 dark:text-gray-300">60g ~</label>
                </div>
            </div>
            </div>
          </div>
          <h2 id="accordion-flush-heading-5">
            <button type="button" class="flex items-center justify-between w-full py-3 text-sm text-left text-gray-500 dark:text-gray-400" data-accordion-target="#accordion-flush-body-5" aria-expanded="true" aria-controls="accordion-flush-body-5">
              <span class="hover:opacity-70">키배열</span>
              <svg data-accordion-icon class="w-6 h-6 shrink-0" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
            </button>
          </h2>
          <div id="accordion-flush-body-5" class="hidden" aria-labelledby="accordion-flush-heading-1">
            <div class="category-list">
              <div class="flex flex-col items-start mb-4 gap-4">
                <div>
                  <input type="checkbox" name="tenkey" value="True" class="main-checkbox w-4 h-4 bg-gray-100 border-gray-300 rounded">
                  <label for="main-checkbox" class="ml-2 font-medium text-gray-900 dark:text-gray-300">텐키리스</label>
                </div>
                <div>
                  <input type="checkbox" name="tenkey" value="False" class="main-checkbox w-4 h-4 bg-gray-100 border-gray-300 rounded">
                  <label for="main-checkbox" class="ml-2 font-medium text-gray-900 dark:text-gray-300">풀배열</label>
                </div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="grow pt-5">
      <div class="flex justify-between text-sm">
        <p class="font-bold">총 {{ object_list|length }}건</p>
        <ul class="filter">
          <li>
            <button name="filter" value="purchased">판매량순</button>
          </li>
          <li>
            <button name="filter" value="rating">별점순</button>
          </li>
          <li>
            <button name="filter" value="popular">리뷰순</button>
          </li>
          <li>
            <button name="filter" value="low_price">낮은 가격순</button>
          </li>
        </ul>
      </div>
      {% if object_list %}
        <div class="product-list">
          {% for product in object_list %}
          <div class="product-item">
            <form class="bookmark" data-product-id="{{ product.pk }}">
              {% csrf_token %}
              <button type="submit">
                {% if product in user.bookmark.all %}
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z" / class="fill-main">
                  </svg>
                {% else %}
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-8 h-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17.593 3.322c1.1.128 1.907 1.077 1.907 2.185V21L12 17.25 4.5 21V5.507c0-1.108.806-2.057 1.907-2.185a48.507 48.507 0 0111.186 0z" / class="fill-whie">
                  </svg>
                {% endif %} 
              </button>
            </form>
            <a href="{% url 'products:product_detail' product.pk %}">
              <div class="product">
                <div class="product-image" {% if not product.product_img %}style="background-color: #f5f5f5"{% endif %}>
                  {% if product.product_img %}
                    <img src="{{ product.product_img.url }}" alt="">
                  {% else %}
                    <img src="{% static 'img/default_img.svg' %}" alt="">
                  {% endif %}
                </div>
                <div class="product-description">
                  <p class="product-brand">{{ product.category.brand }}</p>
                  <p class="product-name">{{ product.name }}</p>
                  <p class="product-price">
                    {% if product.discount_rate %}
                      <span class="product-discount">{{ product.discount_rate }}%</span>
                    {% endif %}
                    {{ product.discounted_price|intcomma }}
                  </p>
                  {% if product.reviews.all %}
                    <p class="product-review">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                        <path fill-rule="evenodd" d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.007 5.404.433c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.433 2.082-5.006z" clip-rule="evenodd" />
                      </svg>
                      {% for rating in ratingset %}
                        {% if rating.name == product.name %}
                          <span class="product-avg">{{ rating.avg_rating|floatformat:'1' }}</span>
                          리뷰 {{ product.reviews.all|length }}
                        {% endif %}
                      {% endfor %}
                    </p>
                  {% endif %}
                </div>
              </div>
            </a>
          </div>
          {% endfor %}
        </div>
      {% else %}
        <div class="flex flex-col items-center pt-12 text-gray-300">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="0.75" stroke="currentColor" class="w-20 h-20">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 9v3.75m9-.75a9 9 0 11-18 0 9 9 0 0118 0zm-9 3.75h.008v.008H12v-.008z" />
          </svg>            
          <p class="mt-4 text-gray-400">선택하신 필터와 일치하는 상품이 없습니다.</p>
          <button class="reset-button-style reset-button">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
              <path stroke-linecap="round" stroke-linejoin="round" d="M16.023 9.348h4.992v-.001M2.985 19.644v-4.992m0 0h4.992m-4.993 0l3.181 3.183a8.25 8.25 0 0013.803-3.7M4.031 9.865a8.25 8.25 0 0113.803-3.7l3.181 3.182m0-4.991v4.99" />
            </svg>            
            <p>필터 초기화</p>
          </button>
        </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}

{% block script %}
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="{% static 'js/category.js' %}"></script>
{% endblock script %}