{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/product_list.css' %}">
{% endblock head %}

{% block content %}
  <div class="mx-auto max-w-screen-xl">
    <!-- 광고 배너 -->
    <div id="default-carousel" class="relative w-full mb-20" data-carousel="slide">
      <!-- Carousel wrapper -->
      <div class="relative h-56 overflow-hidden rounded-lg md:h-96">
        <!-- Item 1 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img src="{% static 'img/banner_1.gif' %}" class="absolute block w-full h-full object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          {% comment %} <p class="absolute z-30 top-1 text-[#f87171] font-bold text-3xl">이번주 인기 검색어</p> {% endcomment %}
          <img src="{% static 'img/word_cloud.png' %}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="WordCloud Image" style="height: 374px; object-fit: cover;">
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img src="{% static 'img/banner_2.jpg' %}"  class="absolute block w-full h-full object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img src="{% static 'img/banner_3.jpg' %}" class="absolute block w-full h-full object-cover -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
        <!-- Item 5 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <img src="{% static 'img/logo_2.png' %}" class="absolute block w-full -translate-x-1/2 -translate-y-1/2 top-1/2 left-1/2" alt="...">
        </div>
      </div>
      <!-- Slider indicators -->
      <div class="absolute z-30 flex space-x-3 -translate-x-1/2 bottom-5 left-1/2">
        <button type="button" class="w-3 h-3 rounded-full" aria-current="true" aria-label="Slide 1" data-carousel-slide-to="0"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 2" data-carousel-slide-to="1"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 3" data-carousel-slide-to="2"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 4" data-carousel-slide-to="3"></button>
        <button type="button" class="w-3 h-3 rounded-full" aria-current="false" aria-label="Slide 5" data-carousel-slide-to="4"></button>
      </div>
      <!-- Slider controls -->
      <button type="button" class="absolute top-0 left-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
          <span class="sr-only">Previous</span>
        </span>
      </button>
      <button type="button" class="absolute top-0 right-0 z-30 flex items-center justify-center h-full px-4 cursor-pointer group focus:outline-none" data-carousel-next>
        <span class="inline-flex items-center justify-center w-8 h-8 rounded-full sm:w-10 sm:h-10 bg-white/30 dark:bg-gray-800/30 group-hover:bg-white/50 dark:group-hover:bg-gray-800/60 group-focus:ring-4 group-focus:ring-white dark:group-focus:ring-gray-800/70 group-focus:outline-none">
          <svg aria-hidden="true" class="w-5 h-5 text-white sm:w-6 sm:h-6 dark:text-gray-800" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
          <span class="sr-only">Next</span>
        </span>
      </button>
    </div>
    <!-- 광고 배너 -->

    <div class="flex justify-between items-center">
      <p class="text-lg font-bold">인기상품</p>
      <a href="{% url 'products:product_category' %}?filter=purchased"><p class="text-a-tag">전체 보기</p></a>
    </div>
    <div id="indicators-carousel" class="relative w-full" data-carousel="static">
      <!-- Carousel wrapper -->
      <div class="carousel-wrapper relative h-54 overflow-hidden rounded-lg md:h-96">
        <!-- Item 1 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item="active">
          <!-- 인기 상품 -->
          <div class="bg-white dark:bg-gray-900">
            <div class="mx-auto w-full max-w-screen-xl py-4 flex flex-wrap">
              {% for product in most_purchased_products|slice:"0:4" %}
                <div class="product">
                  <a href="{% url 'products:product_detail' product.pk %}">
                    <div class="product-image {% if not product.product_img %}bg-[#f5f5f5]{% endif %}">
                      {% if product.product_img %}
                        <img src="{{ product.product_img.url }}" alt="{{ product.name }}" class="w-full h-full object-cover">
                      {% else %}
                        <img src="{% static 'img/default_img.svg' %}" alt="" class="w-full h-full object-cover">
                      {% endif %}
                    </div>
                    <div class="product-description">
                      <p class="product-brand">{{ product.category.brand }}</p>
                      <p class="product-name">{{ product.name }}</p>
                      <p class="product-price">{% if product.discount_rate %}<span class="product-discount">{{ product.discount_rate }}%</span>{% endif %} {{ product.discounted_price|intcomma }}</p>
                      {% if product.reviews.all %}
                        <p class="product-review">
                          <svg class="svg1 inline" fill="#99CCFF" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><defs><path id="star-path-4" d="M11.9996 19.7201L6.32294 22.1251C5.5626 22.4472 5.005 22.0311 5.0755 21.2188L5.60855 15.0767L1.5671 10.421C1.02579 9.79745 1.24924 9.13855 2.04358 8.95458L8.04973 7.56354L11.2287 2.28121C11.6545 1.57369 12.3502 1.5826 12.7706 2.28121L15.9496 7.56354L21.9557 8.95458C22.7602 9.1409 22.9667 9.8053 22.4322 10.421L18.3907 15.0767L18.9238 21.2188C18.9952 22.0414 18.4271 22.4432 17.6764 22.1251L11.9996 19.7201Z"></path><clipPath id="star-clip-4"><rect x="0" y="0" width="22.400000000000006" height="24"></rect></clipPath></defs><use xlink:href="#star-path-4" fill="#DBDBDB"></use><use clip-path="url(#star-clip-4)" xlink:href="#star-path-4"></use></svg>
                          {% for rating in most_purchased_rating %}
                            {% if rating.name == product.name %}
                              <span class="product-avg">{{ rating.avg_rating|floatformat:'1' }}</span> 리뷰 {{ product.reviews.all|length }}
                            {% endif %}
                          {% endfor %}
                        </p>
                      {% endif %}
                    </div>
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <!-- 인기 상품 -->
          <div class="bg-white dark:bg-gray-900">
            <div class="mx-auto w-full max-w-screen-xl py-4 flex flex-wrap">
              {% for product in most_purchased_products|slice:"4:8" %}
                <div class="product">
                  <a href="{% url 'products:product_detail' product.pk %}">
                    <div class="product-image {% if not product.product_img %}bg-[#f5f5f5]{% endif %}">
                      {% if product.product_img %}
                        <img src="{{ product.product_img.url }}" alt="{{ product.name }}" class="w-full h-full object-cover">
                      {% else %}
                        <img src="{% static 'img/default_img.svg' %}" alt="" class="w-full h-full object-cover">
                      {% endif %}
                    </div>
                    <div class="product-description">
                      <p class="product-brand">{{ product.category.brand }}</p>
                      <p class="product-name">{{ product.name }}</p>
                      <p class="product-price">{% if product.discount_rate %}<span class="product-discount">{{ product.discount_rate }}%</span>{% endif %} {{ product.discounted_price|intcomma }}</p>
                      {% if product.reviews.all %}
                        <p class="product-review">
                          <svg class="svg1 inline" fill="#99CCFF" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><defs><path id="star-path-4" d="M11.9996 19.7201L6.32294 22.1251C5.5626 22.4472 5.005 22.0311 5.0755 21.2188L5.60855 15.0767L1.5671 10.421C1.02579 9.79745 1.24924 9.13855 2.04358 8.95458L8.04973 7.56354L11.2287 2.28121C11.6545 1.57369 12.3502 1.5826 12.7706 2.28121L15.9496 7.56354L21.9557 8.95458C22.7602 9.1409 22.9667 9.8053 22.4322 10.421L18.3907 15.0767L18.9238 21.2188C18.9952 22.0414 18.4271 22.4432 17.6764 22.1251L11.9996 19.7201Z"></path><clipPath id="star-clip-4"><rect x="0" y="0" width="22.400000000000006" height="24"></rect></clipPath></defs><use xlink:href="#star-path-4" fill="#DBDBDB"></use><use clip-path="url(#star-clip-4)" xlink:href="#star-path-4"></use></svg>
                          {% for rating in most_purchased_rating %}
                            {% if rating.name == product.name %}
                              <span class="product-avg">{{ rating.avg_rating|floatformat:'1' }}</span> 리뷰 {{ product.reviews.all|length }}
                            {% endif %}
                          {% endfor %}
                        </p>
                      {% endif %}
                    </div>
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <!-- 인기 상품 -->
          <div class="bg-white dark:bg-gray-900">
            <div class="mx-auto w-full max-w-screen-xl py-4 flex flex-wrap">
            {% for product in most_purchased_products|slice:"8:12" %}
              <div class="product">
                <a href="{% url 'products:product_detail' product.pk %}">
                  <div class="product-image {% if not product.product_img %}bg-[#f5f5f5]{% endif %}">
                    {% if product.product_img %}
                      <img src="{{ product.product_img.url }}" alt="{{ product.name }}" class="w-full h-full object-cover">
                    {% else %}
                      <img src="{% static 'img/default_img.svg' %}" alt="" class="w-full h-full object-cover">
                    {% endif %}
                  </div>
                  <div class="product-description">
                    <p class="product-brand">{{ product.category.brand }}</p>
                    <p class="product-name">{{ product.name }}</p>
                    <p class="product-price">{% if product.discount_rate %}<span class="product-discount">{{ product.discount_rate }}%</span>{% endif %} {{ product.discounted_price|intcomma }}</p>
                    {% if product.reviews.all %}
                      <p class="product-review">
                        <svg class="svg1 inline" fill="#99CCFF" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><defs><path id="star-path-4" d="M11.9996 19.7201L6.32294 22.1251C5.5626 22.4472 5.005 22.0311 5.0755 21.2188L5.60855 15.0767L1.5671 10.421C1.02579 9.79745 1.24924 9.13855 2.04358 8.95458L8.04973 7.56354L11.2287 2.28121C11.6545 1.57369 12.3502 1.5826 12.7706 2.28121L15.9496 7.56354L21.9557 8.95458C22.7602 9.1409 22.9667 9.8053 22.4322 10.421L18.3907 15.0767L18.9238 21.2188C18.9952 22.0414 18.4271 22.4432 17.6764 22.1251L11.9996 19.7201Z"></path><clipPath id="star-clip-4"><rect x="0" y="0" width="22.400000000000006" height="24"></rect></clipPath></defs><use xlink:href="#star-path-4" fill="#DBDBDB"></use><use clip-path="url(#star-clip-4)" xlink:href="#star-path-4"></use></svg>
                        {% for rating in most_purchased_rating %}
                          {% if rating.name == product.name %}
                            <span class="product-avg">{{ rating.avg_rating|floatformat:'1' }}</span> 리뷰 {{ product.reviews.all|length }}
                          {% endif %}
                        {% endfor %}
                      </p>
                    {% endif %}
                  </div>
                </a>
              </div>
            {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="absolute top-28 -left-10 z-30 flex items-center justify-center px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="carousel-button inline-flex items-center justify-center w-12 h-12 rounded-full bg-white">
            <svg aria-hidden="true" class="w-6 h-6 text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
            <span class="sr-only">Previous</span>
        </span>
      </button>
      <button type="button" class="absolute top-28 -right-10 z-30 flex items-center justify-center px-4 cursor-pointer group focus:outline-none" data-carousel-next>
          <span class="carousel-button inline-flex items-center justify-center w-12 h-12 rounded-full bg-white">
              <svg aria-hidden="true" class="w-6 h-6 text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
              <span class="sr-only">Next</span>
          </span>
      </button>
    </div>


    <!-- 가성비 좋은 키보드 -->
    <div class="flex justify-between items-center">
      <p class="text-lg font-bold">가성비 좋은 키보드</p>
      <a href="{% url 'products:product_category' %}?filter=affordable"><p class="text-a-tag">전체 보기</p></a>
    </div>
    <div id="indicators-carousel" class="relative w-full" data-carousel="static">
      <!-- Carousel wrapper -->
      <div class="carousel-wrapper relative h-54 overflow-hidden rounded-lg md:h-96">
        <!-- Item 1 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item="active">
          <!-- 가성비 좋은 키보드 -->
          <div class="bg-white dark:bg-gray-900">
            <div class="mx-auto w-full max-w-screen-xl py-4 flex flex-wrap">
              {% for product in affordable_products|slice:"0:4" %}
                <div class="product">
                  <a href="{% url 'products:product_detail' product.pk %}">
                    <div class="product-image {% if not product.product_img %}bg-[#f5f5f5]{% endif %}">
                      {% if product.product_img %}
                        <img src="{{ product.product_img.url }}" alt="{{ product.name }}" class="w-full h-full object-cover">
                      {% else %}
                        <img src="{% static 'img/default_img.svg' %}" alt="" class="w-full h-full object-cover">
                      {% endif %}
                    </div>
                    <div class="product-description">
                      <p class="product-brand">{{ product.category.brand }}</p>
                      <p class="product-name">{{ product.name }}</p>
                      <p class="product-price">{% if product.discount_rate %}<span class="product-discount">{{ product.discount_rate }}%</span>{% endif %} {{ product.discounted_price|intcomma }}</p>
                      {% if product.reviews.all %}
                        <p class="product-review">
                          <svg class="svg1 inline" fill="#99CCFF" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><defs><path id="star-path-4" d="M11.9996 19.7201L6.32294 22.1251C5.5626 22.4472 5.005 22.0311 5.0755 21.2188L5.60855 15.0767L1.5671 10.421C1.02579 9.79745 1.24924 9.13855 2.04358 8.95458L8.04973 7.56354L11.2287 2.28121C11.6545 1.57369 12.3502 1.5826 12.7706 2.28121L15.9496 7.56354L21.9557 8.95458C22.7602 9.1409 22.9667 9.8053 22.4322 10.421L18.3907 15.0767L18.9238 21.2188C18.9952 22.0414 18.4271 22.4432 17.6764 22.1251L11.9996 19.7201Z"></path><clipPath id="star-clip-4"><rect x="0" y="0" width="22.400000000000006" height="24"></rect></clipPath></defs><use xlink:href="#star-path-4" fill="#DBDBDB"></use><use clip-path="url(#star-clip-4)" xlink:href="#star-path-4"></use></svg>
                          {% for rating in affordable_rating %}
                            {% if rating.name == product.name %}
                              <span class="product-avg">{{ rating.avg_rating|floatformat:'1' }}</span> 리뷰 {{ product.reviews.all|length }}
                            {% endif %}
                          {% endfor %}
                        </p>
                      {% endif %}
                    </div>
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <!-- 가성비 좋은 키보드 -->
          <div class="bg-white dark:bg-gray-900">
            <div class="mx-auto w-full max-w-screen-xl py-4 flex flex-wrap">
              {% for product in affordable_products|slice:"4:8" %}
                <div class="product">
                  <a href="{% url 'products:product_detail' product.pk %}">
                    <div class="product-image {% if not product.product_img %}bg-[#f5f5f5]{% endif %}">
                      {% if product.product_img %}
                        <img src="{{ product.product_img.url }}" alt="{{ product.name }}" class="w-full h-full object-cover">
                      {% else %}
                        <img src="{% static 'img/default_img.svg' %}" alt="" class="w-full h-full object-cover">
                      {% endif %}
                    </div>
                    <div class="product-description">
                      <p class="product-brand">{{ product.category.brand }}</p>
                      <p class="product-name">{{ product.name }}</p>
                      <p class="product-price">{% if product.discount_rate %}<span class="product-discount">{{ product.discount_rate }}%</span>{% endif %} {{ product.discounted_price|intcomma }}</p>
                      {% if product.reviews.all %}
                        <p class="product-review">
                          <svg class="svg1 inline" fill="#99CCFF" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><defs><path id="star-path-4" d="M11.9996 19.7201L6.32294 22.1251C5.5626 22.4472 5.005 22.0311 5.0755 21.2188L5.60855 15.0767L1.5671 10.421C1.02579 9.79745 1.24924 9.13855 2.04358 8.95458L8.04973 7.56354L11.2287 2.28121C11.6545 1.57369 12.3502 1.5826 12.7706 2.28121L15.9496 7.56354L21.9557 8.95458C22.7602 9.1409 22.9667 9.8053 22.4322 10.421L18.3907 15.0767L18.9238 21.2188C18.9952 22.0414 18.4271 22.4432 17.6764 22.1251L11.9996 19.7201Z"></path><clipPath id="star-clip-4"><rect x="0" y="0" width="22.400000000000006" height="24"></rect></clipPath></defs><use xlink:href="#star-path-4" fill="#DBDBDB"></use><use clip-path="url(#star-clip-4)" xlink:href="#star-path-4"></use></svg>
                          {% for rating in affordable_rating %}
                            {% if rating.name == product.name %}
                              <span class="product-avg">{{ rating.avg_rating|floatformat:'1' }}</span> 리뷰 {{ product.reviews.all|length }}
                            {% endif %}
                          {% endfor %}
                        </p>
                      {% endif %}
                    </div>
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <!-- 가성비 좋은 키보드 -->
          <div class="bg-white dark:bg-gray-900">
            <div class="mx-auto w-full max-w-screen-xl py-4 flex flex-wrap">
              {% for product in affordable_products|slice:"8:12" %}
                <div class="product">
                  <a href="{% url 'products:product_detail' product.pk %}">
                    <div class="product-image {% if not product.product_img %}bg-[#f5f5f5]{% endif %}">
                      {% if product.product_img %}
                        <img src="{{ product.product_img.url }}" alt="{{ product.name }}" class="w-full h-full object-cover">
                      {% else %}
                        <img src="{% static 'img/default_img.svg' %}" alt="" class="w-full h-full object-cover">
                      {% endif %}
                    </div>
                    <div class="product-description">
                      <p class="product-brand">{{ product.category.brand }}</p>
                      <p class="product-name">{{ product.name }}</p>
                      <p class="product-price">{% if product.discount_rate %}<span class="product-discount">{{ product.discount_rate }}%</span>{% endif %} {{ product.discounted_price|intcomma }}</p>
                      {% if product.reviews.all %}
                        <p class="product-review">
                          <svg class="svg1 inline" fill="#99CCFF" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><defs><path id="star-path-4" d="M11.9996 19.7201L6.32294 22.1251C5.5626 22.4472 5.005 22.0311 5.0755 21.2188L5.60855 15.0767L1.5671 10.421C1.02579 9.79745 1.24924 9.13855 2.04358 8.95458L8.04973 7.56354L11.2287 2.28121C11.6545 1.57369 12.3502 1.5826 12.7706 2.28121L15.9496 7.56354L21.9557 8.95458C22.7602 9.1409 22.9667 9.8053 22.4322 10.421L18.3907 15.0767L18.9238 21.2188C18.9952 22.0414 18.4271 22.4432 17.6764 22.1251L11.9996 19.7201Z"></path><clipPath id="star-clip-4"><rect x="0" y="0" width="22.400000000000006" height="24"></rect></clipPath></defs><use xlink:href="#star-path-4" fill="#DBDBDB"></use><use clip-path="url(#star-clip-4)" xlink:href="#star-path-4"></use></svg>
                          {% for rating in affordable_rating %}
                            {% if rating.name == product.name %}
                              <span class="product-avg">{{ rating.avg_rating|floatformat:'1' }}</span> 리뷰 {{ product.reviews.all|length }}
                            {% endif %}
                          {% endfor %}
                        </p>
                      {% endif %}
                    </div>
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="absolute top-28 -left-10 z-30 flex items-center justify-center px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="carousel-button inline-flex items-center justify-center w-12 h-12 rounded-full bg-white">
            <svg aria-hidden="true" class="w-6 h-6 text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
            <span class="sr-only">Previous</span>
        </span>
      </button>
      <button type="button" class="absolute top-28 -right-10 z-30 flex items-center justify-center px-4 cursor-pointer group focus:outline-none" data-carousel-next>
          <span class="carousel-button inline-flex items-center justify-center w-12 h-12 rounded-full bg-white">
              <svg aria-hidden="true" class="w-6 h-6 text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
              <span class="sr-only">Next</span>
          </span>
      </button>
    </div>
    <!-- 입문하기 좋은 키보드 -->    


    <!-- 카테고리별 대표 상품 -->
    <div class="flex justify-between items-center">
      <p class="text-lg font-bold">브랜드별 대표 상품</p>
      <a href="{% url 'products:product_category' %}?filter=all"><p class="text-a-tag">더보기</p></a>
    </div>
    <div id="indicators-carousel" class="relative w-full" data-carousel="static">
      <!-- Carousel wrapper -->
      <div class="carousel-wrapper relative h-54 overflow-hidden rounded-lg md:h-96">
        <!-- Item 1 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item="active">
          <!-- 콕스 대표 상품 -->
          <div class="bg-white dark:bg-gray-900">
            <div class="mx-auto w-full max-w-screen-xl py-4 flex flex-wrap">
              {% for product in cox_selling_products|slice:"0:4" %}
                <div class="product">
                  <a href="{% url 'products:product_detail' product.pk %}">
                    <div class="product-image {% if not product.product_img %}bg-[#f5f5f5]{% endif %}">
                      {% if product.product_img %}
                        <img src="{{ product.product_img.url }}" alt="{{ product.name }}" class="w-full h-full object-cover">
                      {% else %}
                        <img src="{% static 'img/default_img.svg' %}" alt="" class="w-full h-full object-cover">
                      {% endif %}
                    </div>
                    <div class="product-description">
                      <p class="product-brand">{{ product.category.brand }}</p>
                      <p class="product-name">{{ product.name }}</p>
                      <p class="product-price">{% if product.discount_rate %}<span class="product-discount">{{ product.discount_rate }}%</span>{% endif %} {{ product.discounted_price|intcomma }}</p>
                      {% if product.reviews.all %}
                        <p class="product-review">
                          <svg class="svg1 inline" fill="#99CCFF" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><defs><path id="star-path-4" d="M11.9996 19.7201L6.32294 22.1251C5.5626 22.4472 5.005 22.0311 5.0755 21.2188L5.60855 15.0767L1.5671 10.421C1.02579 9.79745 1.24924 9.13855 2.04358 8.95458L8.04973 7.56354L11.2287 2.28121C11.6545 1.57369 12.3502 1.5826 12.7706 2.28121L15.9496 7.56354L21.9557 8.95458C22.7602 9.1409 22.9667 9.8053 22.4322 10.421L18.3907 15.0767L18.9238 21.2188C18.9952 22.0414 18.4271 22.4432 17.6764 22.1251L11.9996 19.7201Z"></path><clipPath id="star-clip-4"><rect x="0" y="0" width="22.400000000000006" height="24"></rect></clipPath></defs><use xlink:href="#star-path-4" fill="#DBDBDB"></use><use clip-path="url(#star-clip-4)" xlink:href="#star-path-4"></use></svg>
                          {% for rating in cox_rating %}
                            {% if rating.name == product.name %}
                              <span class="product-avg">{{ rating.avg_rating|floatformat:'1' }}</span> 리뷰 {{ product.reviews.all|length }}
                            {% endif %}
                          {% endfor %}
                        </p>
                      {% endif %}
                    </div>
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

          <!-- Item 2 -->
          <div class="hidden duration-1000 ease-in-out" data-carousel-item>
            <!-- 커세어 대표 상품 -->
            <div class="bg-white dark:bg-gray-900">
              <div class="mx-auto w-full max-w-screen-xl py-4 flex flex-wrap">
                {% for product in corsair_selling_products %}
                  <div class="product">
                    <a href="{% url 'products:product_detail' product.pk %}">
                      <div class="product-image {% if not product.product_img %}bg-[#f5f5f5]{% endif %}">
                        {% if product.product_img %}
                          <img src="{{ product.product_img.url }}" alt="{{ product.name }}" class="w-full h-full object-cover">
                        {% else %}
                          <img src="{% static 'img/default_img.svg' %}" alt="" class="w-full h-full object-cover">
                        {% endif %}
                      </div>
                      <div class="product-description">
                        <p class="product-brand">{{ product.category.brand }}</p>
                        <p class="product-name">{{ product.name }}</p>
                        <p class="product-price">{% if product.discount_rate %}<span class="product-discount">{{ product.discount_rate }}%</span>{% endif %} {{ product.discounted_price|intcomma }}</p>
                        {% if product.reviews.all %}
                          <p class="product-review">
                            <svg class="svg1 inline" fill="#99CCFF" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><defs><path id="star-path-4" d="M11.9996 19.7201L6.32294 22.1251C5.5626 22.4472 5.005 22.0311 5.0755 21.2188L5.60855 15.0767L1.5671 10.421C1.02579 9.79745 1.24924 9.13855 2.04358 8.95458L8.04973 7.56354L11.2287 2.28121C11.6545 1.57369 12.3502 1.5826 12.7706 2.28121L15.9496 7.56354L21.9557 8.95458C22.7602 9.1409 22.9667 9.8053 22.4322 10.421L18.3907 15.0767L18.9238 21.2188C18.9952 22.0414 18.4271 22.4432 17.6764 22.1251L11.9996 19.7201Z"></path><clipPath id="star-clip-4"><rect x="0" y="0" width="22.400000000000006" height="24"></rect></clipPath></defs><use xlink:href="#star-path-4" fill="#DBDBDB"></use><use clip-path="url(#star-clip-4)" xlink:href="#star-path-4"></use></svg>
                            {% for rating in corsair_rating %}
                              {% if rating.name == product.name %}
                                <span class="product-avg">{{ rating.avg_rating|floatformat:'1' }}</span> 리뷰 {{ product.reviews.all|length }}
                              {% endif %}
                            {% endfor %}
                          </p>
                        {% endif %}
                      </div>
                    </a>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
      
          <!-- Item 3 -->
          <div class="hidden duration-1000 ease-in-out" data-carousel-item>
            <!-- 인기 상품 -->
            <div class="bg-white dark:bg-gray-900">
              <div class="mx-auto w-full max-w-screen-xl py-4 flex flex-wrap">
                {% for product in leopold_selling_products %}
                  <div class="product">
                    <a href="{% url 'products:product_detail' product.pk %}">
                      <div class="product-image {% if not product.product_img %}bg-[#f5f5f5]{% endif %}">
                        {% if product.product_img %}
                          <img src="{{ product.product_img.url }}" alt="{{ product.name }}" class="w-full h-full object-cover">
                        {% else %}
                          <img src="{% static 'img/default_img.svg' %}" alt="" class="w-full h-full object-cover">
                        {% endif %}
                      </div>
                      <div class="product-description">
                        <p class="product-brand">{{ product.category.brand }}</p>
                        <p class="product-name">{{ product.name }}</p>
                        <p class="product-price">{% if product.discount_rate %}<span class="product-discount">{{ product.discount_rate }}%</span>{% endif %} {{ product.discounted_price|intcomma }}</p>
                        {% if product.reviews.all %}
                          <p class="product-review">
                            <svg class="svg1 inline" fill="#99CCFF" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><defs><path id="star-path-4" d="M11.9996 19.7201L6.32294 22.1251C5.5626 22.4472 5.005 22.0311 5.0755 21.2188L5.60855 15.0767L1.5671 10.421C1.02579 9.79745 1.24924 9.13855 2.04358 8.95458L8.04973 7.56354L11.2287 2.28121C11.6545 1.57369 12.3502 1.5826 12.7706 2.28121L15.9496 7.56354L21.9557 8.95458C22.7602 9.1409 22.9667 9.8053 22.4322 10.421L18.3907 15.0767L18.9238 21.2188C18.9952 22.0414 18.4271 22.4432 17.6764 22.1251L11.9996 19.7201Z"></path><clipPath id="star-clip-4"><rect x="0" y="0" width="22.400000000000006" height="24"></rect></clipPath></defs><use xlink:href="#star-path-4" fill="#DBDBDB"></use><use clip-path="url(#star-clip-4)" xlink:href="#star-path-4"></use></svg>
                            {% for rating in leopold_rating %}
                              {% if rating.name == product.name %}
                                <span class="product-avg">{{ rating.avg_rating|floatformat:'1' }}</span> 리뷰 {{ product.reviews.all|length }}
                              {% endif %}
                            {% endfor %}
                          </p>
                        {% endif %}
                      </div>
                    </a>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
      </div>
      <button type="button" class="absolute top-28 -left-10 z-30 flex items-center justify-center px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="carousel-button inline-flex items-center justify-center w-12 h-12 rounded-full bg-white">
            <svg aria-hidden="true" class="w-6 h-6 text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
            <span class="sr-only">Previous</span>
        </span>
      </button>
      <button type="button" class="absolute top-28 -right-10 z-30 flex items-center justify-center px-4 cursor-pointer group focus:outline-none" data-carousel-next>
          <span class="carousel-button inline-flex items-center justify-center w-12 h-12 rounded-full bg-white">
              <svg aria-hidden="true" class="w-6 h-6 text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
              <span class="sr-only">Next</span>
          </span>
      </button>
    </div>
    <!-- 카테고리별 대표 상품 -->    


    <!-- 리뷰 많은 순 -->
    <div class="flex justify-between items-center">
      <p class="text-lg font-bold">후기가 많은 상품</p>
      <a href="{% url 'products:product_category' %}?filter=popular"><p class="text-a-tag">전체 보기</p></a>
    </div>
    <div id="indicators-carousel" class="relative w-full" data-carousel="static">
      <!-- Carousel wrapper -->
      <div class="carousel-wrapper relative h-54 overflow-hidden rounded-lg md:h-96">
        <!-- Item 1 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item="active">
          <!-- 인기 상품 -->
          <div class="bg-white dark:bg-gray-900">
            <div class="mx-auto w-full max-w-screen-xl py-4 flex flex-wrap">
              {% for product in most_reviewed_products|slice:"0:4" %}
                <div class="product">
                  <a href="{% url 'products:product_detail' product.pk %}">
                    <div class="product-image {% if not product.product_img %}bg-[#f5f5f5]{% endif %}">
                      {% if product.product_img %}
                        <img src="{{ product.product_img.url }}" alt="{{ product.name }}" class="w-full h-full object-cover">
                      {% else %}
                        <img src="{% static 'img/default_img.svg' %}" alt="" class="w-full h-full object-cover">
                      {% endif %}
                    </div>
                    <div class="product-description">
                      <p class="product-brand">{{ product.category.brand }}</p>
                      <p class="product-name">{{ product.name }}</p>
                      <p class="product-price">{% if product.discount_rate %}<span class="product-discount">{{ product.discount_rate }}%</span>{% endif %} {{ product.discounted_price|intcomma }}</p>
                      {% if product.reviews.all %}
                        <p class="product-review">
                          <svg class="svg1 inline" fill="#99CCFF" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><defs><path id="star-path-4" d="M11.9996 19.7201L6.32294 22.1251C5.5626 22.4472 5.005 22.0311 5.0755 21.2188L5.60855 15.0767L1.5671 10.421C1.02579 9.79745 1.24924 9.13855 2.04358 8.95458L8.04973 7.56354L11.2287 2.28121C11.6545 1.57369 12.3502 1.5826 12.7706 2.28121L15.9496 7.56354L21.9557 8.95458C22.7602 9.1409 22.9667 9.8053 22.4322 10.421L18.3907 15.0767L18.9238 21.2188C18.9952 22.0414 18.4271 22.4432 17.6764 22.1251L11.9996 19.7201Z"></path><clipPath id="star-clip-4"><rect x="0" y="0" width="22.400000000000006" height="24"></rect></clipPath></defs><use xlink:href="#star-path-4" fill="#DBDBDB"></use><use clip-path="url(#star-clip-4)" xlink:href="#star-path-4"></use></svg>
                          {% for rating in most_reviewed_rating %}
                            {% if rating.name == product.name %}
                              <span class="product-avg">{{ rating.avg_rating|floatformat:'1' }}</span> 리뷰 {{ product.reviews.all|length }}
                            {% endif %}
                          {% endfor %}
                        </p>
                      {% endif %}
                    </div>
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <!-- Item 2 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <!-- 인기 상품 -->
          <div class="bg-white dark:bg-gray-900">
            <div class="mx-auto w-full max-w-screen-xl py-4 flex flex-wrap">
              {% for product in most_reviewed_products|slice:"4:8" %}
                <div class="product">
                  <a href="{% url 'products:product_detail' product.pk %}">
                    <div class="product-image {% if not product.product_img %}bg-[#f5f5f5]{% endif %}">
                      {% if product.product_img %}  
                        <img src="{{ product.product_img.url }}" alt="{{ product.name }}" class="w-full h-full object-cover">
                      {% else %}
                        <img src="{% static 'img/default_img.svg' %}" alt="" class="w-full h-full object-cover">
                      {% endif %}
                    </div>
                    <div class="product-description">
                      <p class="product-brand">{{ product.category.brand }}</p>
                      <p class="product-name">{{ product.name }}</p>
                      <p class="product-price">{% if product.discount_rate %}<span class="product-discount">{{ product.discount_rate }}%</span>{% endif %} {{ product.discounted_price|intcomma }}</p>
                      {% if product.reviews.all %}
                        <p class="product-review">
                          <svg class="svg1 inline" fill="#99CCFF" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><defs><path id="star-path-4" d="M11.9996 19.7201L6.32294 22.1251C5.5626 22.4472 5.005 22.0311 5.0755 21.2188L5.60855 15.0767L1.5671 10.421C1.02579 9.79745 1.24924 9.13855 2.04358 8.95458L8.04973 7.56354L11.2287 2.28121C11.6545 1.57369 12.3502 1.5826 12.7706 2.28121L15.9496 7.56354L21.9557 8.95458C22.7602 9.1409 22.9667 9.8053 22.4322 10.421L18.3907 15.0767L18.9238 21.2188C18.9952 22.0414 18.4271 22.4432 17.6764 22.1251L11.9996 19.7201Z"></path><clipPath id="star-clip-4"><rect x="0" y="0" width="22.400000000000006" height="24"></rect></clipPath></defs><use xlink:href="#star-path-4" fill="#DBDBDB"></use><use clip-path="url(#star-clip-4)" xlink:href="#star-path-4"></use></svg>
                          {% for rating in most_reviewed_rating %}
                            {% if rating.name == product.name %}
                              <span class="product-avg">{{ rating.avg_rating|floatformat:'1' }}</span> 리뷰 {{ product.reviews.all|length }}
                            {% endif %}
                          {% endfor %}
                        </p>
                      {% endif %}
                    </div>
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <!-- Item 3 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <!-- 인기 상품 -->
          <div class="bg-white dark:bg-gray-900">
            <div class="mx-auto w-full max-w-screen-xl py-4 flex flex-wrap">
              {% for product in most_reviewed_products|slice:"8:12" %}
                <div class="product">
                  <a href="{% url 'products:product_detail' product.pk %}">
                    <div class="product-image {% if not product.product_img %}bg-[#f5f5f5]{% endif %}">
                      {% if product.product_img %}
                        <img src="{{ product.product_img.url }}" alt="{{ product.name }}" class="w-full h-full object-cover">
                      {% else %}
                        <img src="{% static 'img/default_img.svg' %}" alt="" class="w-full h-full object-cover">
                      {% endif %}
                    </div>
                    <div class="product-description">
                      <p class="product-brand">{{ product.category.brand }}</p>
                      <p class="product-name">{{ product.name }}</p>
                      <p class="product-price">{% if product.discount_rate %}<span class="product-discount">{{ product.discount_rate }}%</span>{% endif %} {{ product.discounted_price|intcomma }}</p>
                      {% if product.reviews.all %}
                        <p class="product-review">
                          <svg class="svg1 inline" fill="#99CCFF" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><defs><path id="star-path-4" d="M11.9996 19.7201L6.32294 22.1251C5.5626 22.4472 5.005 22.0311 5.0755 21.2188L5.60855 15.0767L1.5671 10.421C1.02579 9.79745 1.24924 9.13855 2.04358 8.95458L8.04973 7.56354L11.2287 2.28121C11.6545 1.57369 12.3502 1.5826 12.7706 2.28121L15.9496 7.56354L21.9557 8.95458C22.7602 9.1409 22.9667 9.8053 22.4322 10.421L18.3907 15.0767L18.9238 21.2188C18.9952 22.0414 18.4271 22.4432 17.6764 22.1251L11.9996 19.7201Z"></path><clipPath id="star-clip-4"><rect x="0" y="0" width="22.400000000000006" height="24"></rect></clipPath></defs><use xlink:href="#star-path-4" fill="#DBDBDB"></use><use clip-path="url(#star-clip-4)" xlink:href="#star-path-4"></use></svg>
                          {% for rating in most_reviewed_rating %}
                            {% if rating.name == product.name %}
                              <span class="product-avg">{{ rating.avg_rating|floatformat:'1' }}</span> 리뷰 {{ product.reviews.all|length }}
                            {% endif %}
                          {% endfor %}
                        </p>
                      {% endif %}
                    </div>
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="absolute top-28 -left-10 z-30 flex items-center justify-center px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="carousel-button inline-flex items-center justify-center w-12 h-12 rounded-full bg-white">
            <svg aria-hidden="true" class="w-6 h-6 text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
            <span class="sr-only">Previous</span>
        </span>
      </button>
      <button type="button" class="absolute top-28 -right-10 z-30 flex items-center justify-center px-4 cursor-pointer group focus:outline-none" data-carousel-next>
          <span class="carousel-button inline-flex items-center justify-center w-12 h-12 rounded-full bg-white">
              <svg aria-hidden="true" class="w-6 h-6 text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
              <span class="sr-only">Next</span>
          </span>
      </button>
    </div>
    <!-- 리뷰 많은 순 -->    


    <!-- 가격 순 -->
    <div class="flex justify-between items-center">
      <p class="text-lg font-bold">가격순</p>
      <a href="{% url 'products:product_category' %}?filter=low_price"><p class="text-a-tag">전체 보기</p></a>
    </div>
    <div id="indicators-carousel" class="relative w-full" data-carousel="static">
      <!-- Carousel wrapper -->
      <div class="carousel-wrapper relative h-54 overflow-hidden rounded-lg md:h-96">
        <!-- Item 1 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item="active">
          <!-- 인기 상품 -->
          <div class="bg-white dark:bg-gray-900">
            <div class="mx-auto w-full max-w-screen-xl py-4 flex flex-wrap">
              {% for product in low_price_products|slice:"0:4" %}
                <div class="product">
                  <a href="{% url 'products:product_detail' product.pk %}">
                    <div class="product-image {% if not product.product_img %}bg-[#f5f5f5]{% endif %}">
                      {% if product.product_img %}
                        <img src="{{ product.product_img.url }}" alt="{{ product.name }}" class="w-full h-full object-cover">
                      {% else %}
                        <img src="{% static 'img/default_img.svg' %}" alt="" class="w-full h-full object-cover">
                      {% endif %}
                    </div>
                    <div class="product-description">
                      <p class="product-brand">{{ product.category.brand }}</p>
                      <p class="product-name">{{ product.name }}</p>
                      <p class="product-price">{% if product.discount_rate %}<span class="product-discount">{{ product.discount_rate }}%</span>{% endif %} {{ product.discounted_price|intcomma }}</p>
                      {% if product.reviews.all %}
                        <p class="product-review">
                          <svg class="svg1 inline" fill="#99CCFF" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><defs><path id="star-path-4" d="M11.9996 19.7201L6.32294 22.1251C5.5626 22.4472 5.005 22.0311 5.0755 21.2188L5.60855 15.0767L1.5671 10.421C1.02579 9.79745 1.24924 9.13855 2.04358 8.95458L8.04973 7.56354L11.2287 2.28121C11.6545 1.57369 12.3502 1.5826 12.7706 2.28121L15.9496 7.56354L21.9557 8.95458C22.7602 9.1409 22.9667 9.8053 22.4322 10.421L18.3907 15.0767L18.9238 21.2188C18.9952 22.0414 18.4271 22.4432 17.6764 22.1251L11.9996 19.7201Z"></path><clipPath id="star-clip-4"><rect x="0" y="0" width="22.400000000000006" height="24"></rect></clipPath></defs><use xlink:href="#star-path-4" fill="#DBDBDB"></use><use clip-path="url(#star-clip-4)" xlink:href="#star-path-4"></use></svg>
                          {% for rating in low_price_rating %}
                            {% if rating.name == product.name %}
                              <span class="product-avg">{{ rating.avg_rating|floatformat:'1' }}</span> 리뷰 {{ product.reviews.all|length }}
                            {% endif %}
                          {% endfor %}
                        </p>
                      {% endif %}
                    </div>
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <!-- Item 2 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <!-- 인기 상품 -->
          <div class="bg-white dark:bg-gray-900">
            <div class="mx-auto w-full max-w-screen-xl py-4 flex flex-wrap">
              {% for product in low_price_products|slice:"4:8" %}
                <div class="product">
                  <a href="{% url 'products:product_detail' product.pk %}">
                    <div class="product-image {% if not product.product_img %}bg-[#f5f5f5]{% endif %}">
                      {% if product.product_img %}
                        <img src="{{ product.product_img.url }}" alt="{{ product.name }}" class="w-full h-full object-cover">
                      {% else %}
                        <img src="{% static 'img/default_img.svg' %}" alt="" class="w-full h-full object-cover">
                      {% endif %}
                    </div>
                    <div class="product-description">
                      <p class="product-brand">{{ product.category.brand }}</p>
                      <p class="product-name">{{ product.name }}</p>
                      <p class="product-price">{% if product.discount_rate %}<span class="product-discount">{{ product.discount_rate }}%</span>{% endif %} {{ product.discounted_price|intcomma }}</p>
                      {% if product.reviews.all %}
                        <p class="product-review">
                          <svg class="svg1 inline" fill="#99CCFF" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><defs><path id="star-path-4" d="M11.9996 19.7201L6.32294 22.1251C5.5626 22.4472 5.005 22.0311 5.0755 21.2188L5.60855 15.0767L1.5671 10.421C1.02579 9.79745 1.24924 9.13855 2.04358 8.95458L8.04973 7.56354L11.2287 2.28121C11.6545 1.57369 12.3502 1.5826 12.7706 2.28121L15.9496 7.56354L21.9557 8.95458C22.7602 9.1409 22.9667 9.8053 22.4322 10.421L18.3907 15.0767L18.9238 21.2188C18.9952 22.0414 18.4271 22.4432 17.6764 22.1251L11.9996 19.7201Z"></path><clipPath id="star-clip-4"><rect x="0" y="0" width="22.400000000000006" height="24"></rect></clipPath></defs><use xlink:href="#star-path-4" fill="#DBDBDB"></use><use clip-path="url(#star-clip-4)" xlink:href="#star-path-4"></use></svg>
                          {% for rating in low_price_rating %}
                            {% if rating.name == product.name %}
                              <span class="product-avg">{{ rating.avg_rating|floatformat:'1' }}</span> 리뷰 {{ product.reviews.all|length }}
                            {% endif %}
                          {% endfor %}
                        </p>
                      {% endif %}
                    </div>
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <!-- Item 3 -->
        <div class="hidden duration-1000 ease-in-out" data-carousel-item>
          <!-- 인기 상품 -->
          <div class="bg-white dark:bg-gray-900">
            <div class="mx-auto w-full max-w-screen-xl py-4 flex flex-wrap">
              {% for product in low_price_products|slice:"8:12" %}
                <div class="product">
                  <a href="{% url 'products:product_detail' product.pk %}">
                    <div class="product-image {% if not product.product_img %}bg-[#f5f5f5]{% endif %}">
                      {% if product.product_img %}
                        <img src="{{ product.product_img.url }}" alt="{{ product.name }}" class="w-full h-full object-cover">
                      {% else %}
                        <img src="{% static 'img/default_img.svg' %}" alt="" class="w-full h-full object-cover">
                      {% endif %}
                    </div>
                    <div class="product-description">
                      <p class="product-brand">{{ product.category.brand }}</p>
                      <p class="product-name">{{ product.name }}</p>
                      <p class="product-price">{% if product.discount_rate %}<span class="product-discount">{{ product.discount_rate }}%</span>{% endif %} {{ product.discounted_price|intcomma }}</p>
                      {% if product.reviews.all %}
                        <p class="product-review">
                          <svg class="svg1 inline" fill="#99CCFF" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><defs><path id="star-path-4" d="M11.9996 19.7201L6.32294 22.1251C5.5626 22.4472 5.005 22.0311 5.0755 21.2188L5.60855 15.0767L1.5671 10.421C1.02579 9.79745 1.24924 9.13855 2.04358 8.95458L8.04973 7.56354L11.2287 2.28121C11.6545 1.57369 12.3502 1.5826 12.7706 2.28121L15.9496 7.56354L21.9557 8.95458C22.7602 9.1409 22.9667 9.8053 22.4322 10.421L18.3907 15.0767L18.9238 21.2188C18.9952 22.0414 18.4271 22.4432 17.6764 22.1251L11.9996 19.7201Z"></path><clipPath id="star-clip-4"><rect x="0" y="0" width="22.400000000000006" height="24"></rect></clipPath></defs><use xlink:href="#star-path-4" fill="#DBDBDB"></use><use clip-path="url(#star-clip-4)" xlink:href="#star-path-4"></use></svg>
                          {% for rating in low_price_rating %}
                            {% if rating.name == product.name %}
                              <span class="product-avg">{{ rating.avg_rating|floatformat:'1' }}</span> 리뷰 {{ product.reviews.all|length }}
                            {% endif %}
                          {% endfor %}
                        </p>
                      {% endif %}
                    </div>
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <button type="button" class="absolute top-28 -left-10 z-30 flex items-center justify-center px-4 cursor-pointer group focus:outline-none" data-carousel-prev>
        <span class="carousel-button inline-flex items-center justify-center w-12 h-12 rounded-full bg-white">
            <svg aria-hidden="true" class="w-6 h-6 text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7"></path></svg>
            <span class="sr-only">Previous</span>
        </span>
      </button>
      <button type="button" class="absolute top-28 -right-10 z-30 flex items-center justify-center px-4 cursor-pointer group focus:outline-none" data-carousel-next>
          <span class="carousel-button inline-flex items-center justify-center w-12 h-12 rounded-full bg-white">
              <svg aria-hidden="true" class="w-6 h-6 text-black" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path></svg>
              <span class="sr-only">Next</span>
          </span>
      </button>
    </div>
    <!-- 가격 순 -->    
  </div>
{% endblock content %}