{% extends 'base.html' %}
{% load static %}
{% load tailwind_filters %}

{% block head %}
  <link rel="stylesheet" href="{% static '/css/product_detail.css' %}">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
{% endblock head %}

{% block content %}
  <!-- main -->
  <main class="mx-auto">
    <!-- header -->
    <div class="flex flex-row">
      <!-- 상품 이미지 -->
      <div class="basis-1/2 m-12 product-img" style="">
        {% if product.product_img %}
          <img src="{{ product.product_img.url }}" alt="상품 사진">
        {% else %}
          <img src="{% static 'img/default_img.svg' %}" class="w-full h-full object-cover">
        {% endif %}
      </div>
  
      <!-- 상품 정보 -->
      <div class="basis-1/2 m-12" style="">
        <p class="py-3">{{ product.category.brand }}</p>
        <p class="py-3 text-2xl">{{ product.name }}</p>
        <p class="flex items-center py-3">
          <!-- 별점 -->
          <svg class="svg1" fill="#99CCFF" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><defs><path id="star-path-4" d="M11.9996 19.7201L6.32294 22.1251C5.5626 22.4472 5.005 22.0311 5.0755 21.2188L5.60855 15.0767L1.5671 10.421C1.02579 9.79745 1.24924 9.13855 2.04358 8.95458L8.04973 7.56354L11.2287 2.28121C11.6545 1.57369 12.3502 1.5826 12.7706 2.28121L15.9496 7.56354L21.9557 8.95458C22.7602 9.1409 22.9667 9.8053 22.4322 10.421L18.3907 15.0767L18.9238 21.2188C18.9952 22.0414 18.4271 22.4432 17.6764 22.1251L11.9996 19.7201Z"></path><clipPath id="star-clip-4"><rect x="0" y="0" width="22.400000000000006" height="24"></rect></clipPath></defs><use xlink:href="#star-path-4" fill="#DBDBDB"></use><use clip-path="url(#star-clip-4)" xlink:href="#star-path-4"></use></svg>
          <svg class="svg1" fill="#99CCFF" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><defs><path id="star-path-4" d="M11.9996 19.7201L6.32294 22.1251C5.5626 22.4472 5.005 22.0311 5.0755 21.2188L5.60855 15.0767L1.5671 10.421C1.02579 9.79745 1.24924 9.13855 2.04358 8.95458L8.04973 7.56354L11.2287 2.28121C11.6545 1.57369 12.3502 1.5826 12.7706 2.28121L15.9496 7.56354L21.9557 8.95458C22.7602 9.1409 22.9667 9.8053 22.4322 10.421L18.3907 15.0767L18.9238 21.2188C18.9952 22.0414 18.4271 22.4432 17.6764 22.1251L11.9996 19.7201Z"></path><clipPath id="star-clip-4"><rect x="0" y="0" width="22.400000000000006" height="24"></rect></clipPath></defs><use xlink:href="#star-path-4" fill="#DBDBDB"></use><use clip-path="url(#star-clip-4)" xlink:href="#star-path-4"></use></svg>
          <svg class="svg1" fill="#99CCFF" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><defs><path id="star-path-4" d="M11.9996 19.7201L6.32294 22.1251C5.5626 22.4472 5.005 22.0311 5.0755 21.2188L5.60855 15.0767L1.5671 10.421C1.02579 9.79745 1.24924 9.13855 2.04358 8.95458L8.04973 7.56354L11.2287 2.28121C11.6545 1.57369 12.3502 1.5826 12.7706 2.28121L15.9496 7.56354L21.9557 8.95458C22.7602 9.1409 22.9667 9.8053 22.4322 10.421L18.3907 15.0767L18.9238 21.2188C18.9952 22.0414 18.4271 22.4432 17.6764 22.1251L11.9996 19.7201Z"></path><clipPath id="star-clip-4"><rect x="0" y="0" width="22.400000000000006" height="24"></rect></clipPath></defs><use xlink:href="#star-path-4" fill="#DBDBDB"></use><use clip-path="url(#star-clip-4)" xlink:href="#star-path-4"></use></svg>
          <svg class="svg1" fill="#99CCFF" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><defs><path id="star-path-4" d="M11.9996 19.7201L6.32294 22.1251C5.5626 22.4472 5.005 22.0311 5.0755 21.2188L5.60855 15.0767L1.5671 10.421C1.02579 9.79745 1.24924 9.13855 2.04358 8.95458L8.04973 7.56354L11.2287 2.28121C11.6545 1.57369 12.3502 1.5826 12.7706 2.28121L15.9496 7.56354L21.9557 8.95458C22.7602 9.1409 22.9667 9.8053 22.4322 10.421L18.3907 15.0767L18.9238 21.2188C18.9952 22.0414 18.4271 22.4432 17.6764 22.1251L11.9996 19.7201Z"></path><clipPath id="star-clip-4"><rect x="0" y="0" width="22.400000000000006" height="24"></rect></clipPath></defs><use xlink:href="#star-path-4" fill="#DBDBDB"></use><use clip-path="url(#star-clip-4)" xlink:href="#star-path-4"></use></svg>
          <svg class="svg1" fill="#99CCFF" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><defs><path id="star-path-4" d="M11.9996 19.7201L6.32294 22.1251C5.5626 22.4472 5.005 22.0311 5.0755 21.2188L5.60855 15.0767L1.5671 10.421C1.02579 9.79745 1.24924 9.13855 2.04358 8.95458L8.04973 7.56354L11.2287 2.28121C11.6545 1.57369 12.3502 1.5826 12.7706 2.28121L15.9496 7.56354L21.9557 8.95458C22.7602 9.1409 22.9667 9.8053 22.4322 10.421L18.3907 15.0767L18.9238 21.2188C18.9952 22.0414 18.4271 22.4432 17.6764 22.1251L11.9996 19.7201Z"></path><clipPath id="star-clip-4"><rect x="0" y="0" width="22.400000000000006" height="24"></rect></clipPath></defs><use xlink:href="#star-path-4" fill="#DBDBDB"></use><use clip-path="url(#star-clip-4)" xlink:href="#star-path-4"></use></svg>
          <span class="product-information-star-cnt">&nbsp; &nbsp; {{ reviews|length }}개 리뷰</span>
        </p>
        <p>{{ product.discount_rate }}% <span class="product-price-num">{{product.price}}</span></p>
        <p class="py-3 text-xl font-semibold">{{ product.discounted_price }}원</p>
        <p class="py-3">
          배송 <span class="font-semibold">3,000원</span> 선결제 <br>
          일반택배 <br>
          ✔ 지역별 차등배송비 ✔ 제주도/도서산간 지역 5,000원
        </p>
        <div>
          <select id="category-select" class="border-[#99CCFF] mt-3 bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" style="border: 1px solid #99CCFF">
            <option selected disabled>스위치</option>
            <option value="청축">청축({{ product.discounted_price }}원)</option>
            <option value="갈축">갈축({{ product.discounted_price }}원)</option>
            <option value="적축">적축({{ product.discounted_price }}원)</option>
          </select>
          
          <div id="options-container" class="hidden product-select">
            <label for="quantity-select"></label>
            <div class="select" style="display: flex; justify-content: space-between;">
              <div class="product-select-cnt">
                <button class="decrement-quantity" data-target="quantity-product-1">-</button>
                <input type="text" id="cnt" class="quantity product-category-select" value="1" readonly>
                <button class="increment-quantity" data-target="quantity-product-1">+</button>
              </div>
              <p id="origin_price" style="display: flex; align-items: end; font-size: 18px;"><span>{{ product.discounted_price }}</span> 원</p>
            </div>
          </div>

          <div class="flex product-price mb-6">
            <span>주문금액</span>
            <p id="origin_price2"><span>{{ product.discounted_price }}</span> 원</p>
          </div>

          <div class="flex flex-row mt-2" style="justify-content: space-around;">
            {% comment %} <button id="add-to-cart-button" class="basis-1/2 rounded-none product-cart-btn m-1" style="border-radius: 4px;">장바구니</button> {% endcomment %}
            <form method="POST" action="{% url 'products:cart_create' product_pk=product.pk %}">
              {% csrf_token %}
              {% comment %} <input type= "hidden" value = {{ cnt }} name="cnt"> {% endcomment %}
              <input type= "hidden" name="cnt">
              <button type="submit" class="basis-1/2 rounded-none product-cart-btn m-1" style="border-radius: 4px;">장바구니</button>
            </form>
            {% comment %} <button class="basis-1/2 rounded-none product-purchase-btn m-1" style="border-radius: 4px;">바로구매</button> {% endcomment %}
            <form method="post" action="{% url 'products:purchase_from_detail' product_pk=product.pk %}">
              {% csrf_token %}
              <label for="cnt"></label>
              {% comment %} <input type= "hidden" value = {{ cnt }} name="cnt"> {% endcomment %}
              <input type= "hidden" name="cnt">
              <button type="submit" class="basis-1/2 rounded-none product-purchase-btn m-1" style="border-radius: 4px; background-color: #99CCFF;">구매하기</button>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- main content bar -->
    <div class="flex product-category_bar py-2 gap-20 z-[10]">
      <ul class="flex">
        <li><a href="#" onclick="return false;" class="ms-12 product-category_bar-list font-semibold">상품정보</a></li>
        <li><a href="#" onclick="return false;" class="mx-12 product-category_bar-list font-semibold">리뷰</a></li>
        <li><a href="#" onclick="return false;" class="product-category_bar-list font-semibold">문의</a></li>
      </ul>
    </div>

    <!-- main content -->
    <div class="flex flex-row product-content">
      <!-- 상품 상세정보 -->
      <div class="basis-3/5 m-12">
        <div class="">
          {{ product.content }}
          {% comment %} <img src="https://exit.ohou.se/d89cfa7557cd34a185ec45dcf4bf964f6c11fdf5/instore0410.cafe24.com/img/iak_/COX/COX_BANNER2.jpg" alt="상세정보 사진">
          <img src="https://exit.ohou.se/e71e8b7d1de3b92a1561ed0db197028a6214eacb/instore0410.cafe24.com/img/iak_/COX/COX_IN_02.jpg" alt="상세정보 사진"> {% endcomment %}
        </div>
        <div class="mt-12 border-t-2"></div>
        <!-- 리뷰 평균 -->
        <div class="product-review mt-12">
          <p class="text-lg font-semibold">리뷰 <span style="color:#99CCFF">{{ reviews|length }}</span></p>
          <button data-modal-target="staticModal" data-modal-toggle="staticModal" class="font-semibold" style="color:#99CCFF;" type="button">
            리뷰 쓰기
          </button>
        </div>
        {% comment %} <div class="flex flex-row product-review-box h-40">
          <div class="basis-1/2 product-review-star1">
            <p class="flex items-center">
              <svg class="svg2" fill="#99CCFF" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><defs><path id="star-path-4" d="M11.9996 19.7201L6.32294 22.1251C5.5626 22.4472 5.005 22.0311 5.0755 21.2188L5.60855 15.0767L1.5671 10.421C1.02579 9.79745 1.24924 9.13855 2.04358 8.95458L8.04973 7.56354L11.2287 2.28121C11.6545 1.57369 12.3502 1.5826 12.7706 2.28121L15.9496 7.56354L21.9557 8.95458C22.7602 9.1409 22.9667 9.8053 22.4322 10.421L18.3907 15.0767L18.9238 21.2188C18.9952 22.0414 18.4271 22.4432 17.6764 22.1251L11.9996 19.7201Z"></path><clipPath id="star-clip-4"><rect x="0" y="0" width="22.400000000000006" height="24"></rect></clipPath></defs><use xlink:href="#star-path-4" fill="#DBDBDB"></use><use clip-path="url(#star-clip-4)" xlink:href="#star-path-4"></use></svg>
              <svg class="svg2" fill="#99CCFF" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><defs><path id="star-path-3" d="M11.9996 19.7201L6.32294 22.1251C5.5626 22.4472 5.005 22.0311 5.0755 21.2188L5.60855 15.0767L1.5671 10.421C1.02579 9.79745 1.24924 9.13855 2.04358 8.95458L8.04973 7.56354L11.2287 2.28121C11.6545 1.57369 12.3502 1.5826 12.7706 2.28121L15.9496 7.56354L21.9557 8.95458C22.7602 9.1409 22.9667 9.8053 22.4322 10.421L18.3907 15.0767L18.9238 21.2188C18.9952 22.0414 18.4271 22.4432 17.6764 22.1251L11.9996 19.7201Z"></path><clipPath id="star-clip-3"><rect x="0" y="0" width="24" height="24"></rect></clipPath></defs><use xlink:href="#star-path-3" fill="#DBDBDB"></use><use clip-path="url(#star-clip-3)" xlink:href="#star-path-3"></use></svg>
              <svg class="svg2" fill="#99CCFF" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><defs><path id="star-path-3" d="M11.9996 19.7201L6.32294 22.1251C5.5626 22.4472 5.005 22.0311 5.0755 21.2188L5.60855 15.0767L1.5671 10.421C1.02579 9.79745 1.24924 9.13855 2.04358 8.95458L8.04973 7.56354L11.2287 2.28121C11.6545 1.57369 12.3502 1.5826 12.7706 2.28121L15.9496 7.56354L21.9557 8.95458C22.7602 9.1409 22.9667 9.8053 22.4322 10.421L18.3907 15.0767L18.9238 21.2188C18.9952 22.0414 18.4271 22.4432 17.6764 22.1251L11.9996 19.7201Z"></path><clipPath id="star-clip-3"><rect x="0" y="0" width="24" height="24"></rect></clipPath></defs><use xlink:href="#star-path-3" fill="#DBDBDB"></use><use clip-path="url(#star-clip-3)" xlink:href="#star-path-3"></use></svg>
              <svg class="svg2" fill="#99CCFF" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><defs><path id="star-path-3" d="M11.9996 19.7201L6.32294 22.1251C5.5626 22.4472 5.005 22.0311 5.0755 21.2188L5.60855 15.0767L1.5671 10.421C1.02579 9.79745 1.24924 9.13855 2.04358 8.95458L8.04973 7.56354L11.2287 2.28121C11.6545 1.57369 12.3502 1.5826 12.7706 2.28121L15.9496 7.56354L21.9557 8.95458C22.7602 9.1409 22.9667 9.8053 22.4322 10.421L18.3907 15.0767L18.9238 21.2188C18.9952 22.0414 18.4271 22.4432 17.6764 22.1251L11.9996 19.7201Z"></path><clipPath id="star-clip-3"><rect x="0" y="0" width="24" height="24"></rect></clipPath></defs><use xlink:href="#star-path-3" fill="#DBDBDB"></use><use clip-path="url(#star-clip-3)" xlink:href="#star-path-3"></use></svg>
              <svg class="svg2" fill="#99CCFF" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><defs><path id="star-path-3" d="M11.9996 19.7201L6.32294 22.1251C5.5626 22.4472 5.005 22.0311 5.0755 21.2188L5.60855 15.0767L1.5671 10.421C1.02579 9.79745 1.24924 9.13855 2.04358 8.95458L8.04973 7.56354L11.2287 2.28121C11.6545 1.57369 12.3502 1.5826 12.7706 2.28121L15.9496 7.56354L21.9557 8.95458C22.7602 9.1409 22.9667 9.8053 22.4322 10.421L18.3907 15.0767L18.9238 21.2188C18.9952 22.0414 18.4271 22.4432 17.6764 22.1251L11.9996 19.7201Z"></path><clipPath id="star-clip-3"><rect x="0" y="0" width="24" height="24"></rect></clipPath></defs><use xlink:href="#star-path-3" fill="#DBDBDB"></use><use clip-path="url(#star-clip-3)" xlink:href="#star-path-3"></use></svg>
              <span class="text-2xl font-bold">&nbsp; 5.0</span>
            </p>
          </div>
          <div class="basis-1/2 product-review-star2">
            <div class="product-review-star2-status">
              <p class="text-sm">5점</p>
              <div class="w-48 bg-gray-200 rounded-full h-1.5 mt-2 dark:bg-gray-700 mx-3">
                <div class="bg-blue-600 h-1.5 rounded-full dark:bg-blue-500" style="width: 30%"></div>
              </div>
              <p>3</p>
            </div>
            <div class="product-review-star2-status">
              <p class="text-sm">4점</p>
              <div class="w-48 bg-gray-200 rounded-full h-1.5 mt-2 dark:bg-gray-700 mx-3">
                <div class="bg-blue-600 h-1.5 rounded-full dark:bg-blue-500" style="width: 40%"></div>
              </div>
              <p>4</p>
            </div>
            <div class="product-review-star2-status">
              <p class="text-sm">3점</p>
              <div class="w-48 bg-gray-200 rounded-full h-1.5 mt-2 dark:bg-gray-700 mx-3">
                <div class="bg-blue-600 h-1.5 rounded-full dark:bg-blue-500" style="width: 20%"></div>
              </div>
              <p>2</p>
            </div>
            <div class="product-review-star2-status">
              <p class="text-sm">2점</p>
              <div class="w-48 bg-gray-200 rounded-full h-1.5 mt-2 dark:bg-gray-700 mx-3">
                <div class="bg-blue-600 h-1.5 rounded-full dark:bg-blue-500" style="width: 0%"></div>
              </div>
              <p>0</p>
            </div>
            <div class="product-review-star2-status">
              <p class="text-sm">1점</p>
              <div class="w-48 bg-gray-200 rounded-full h-1.5 mt-2 dark:bg-gray-700 mx-3">
                <div class="bg-blue-600 h-1.5 rounded-full dark:bg-blue-500" style="width: 10%"></div>
              </div>
              <p>1</p>
            </div>
          </div>
        </div> {% endcomment %}

        <!-- Main modal -->
        <div id="staticModal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full z-[999]">
          <div class="relative w-full max-w-2xl max-h-full">
            <!-- Modal content -->
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
              <!-- Modal header -->
              <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    리뷰 쓰기
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="staticModal">
                  <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                </button>
              </div>
              <!-- Modal body -->
              <div class="p-6 space-y-6">
                <div>
                  <form action="{% url 'products:review_create' product_pk=product.pk %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ review_form|crispy }}
                    {{ review_image_form|crispy }}
                    {% comment %} <input type="submit" value="작성하기"> {% endcomment %}
                    <button type="submit" class="text-white font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" style="background-color:#99CCFF;">작성하기</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>


        <!-- 리뷰 쓰기 -->
        <div class="mt-9 pb-10">
          {% for review in reviews %}
            <div class="flex flex-row mt-3">
              <div class="basis-1/2 product-review-header">
                <!-- 유저 프로필 이미지 -->
                <img src="{% static '/img/user_image.png' %}" alt="프로필 사진" class="product-review-user_img" style="width:24px; height:24px; border-radius:50%;">
                <div>
                  <p class="product-review-header-font">{{ review.review.user }}</p>
                  <div class="flex">
                    <span class="stars" data-raing={{ review.review.rating}}>{{ review.review.rating }}</span>
                    <p class="product-review-header-font" style="margin-left:5px; color:#757575; font-size:12px;">{{ review.review.created_at|date:"Y-m-d" }}</p>
                  </div>
                </div>
              </div>
            </div>

            <!-- 리뷰 이미지 -->
            <div>
              {% for image in review.images %}
                <img src="{{ image.img.url }}" alt="review image" alt="리뷰 사진" style="width:112px; height:112px; margin-top:10px;">
              {% endfor %}
            </div>

            <!-- 리뷰 내용 -->
            <div>
              <p class="product-review-content">{{ review.review.content }}</p>
            </div>

            <div class="d-flex">
              <input type="button" value="수정" class="review-edit-btn" data-product-id="{{ product.pk }}" data-review-id="{{ review.review.pk }}">
              <form action="{% url 'products:review_delete' product_pk=product.pk review_pk=review.review.pk %}" method="post">
                {% csrf_token %}
                <input type="submit" value="리뷰 삭제">
              </form>
            </div>
            <hr>
            <form class="review-edit-form" id="review-edit-form-{{ review.review.pk }}" data-product-id="{{ product.pk }}" data-review-id="{{ review.review.pk }}" hidden>
              {% csrf_token %}
              <div id="review-content-{{ review.review.pk }}">
                {{review_form.as_p}}
              </div>
              <input type="submit" value="수정">
            </form>
            <button type="button" value="취소" data-review-id="{{ review.review.pk }}">

            <!-- 도움이 돼요 버튼 -->
            <form class="like-forms" data-review-id="{{ review.review.pk }}">
              {% csrf_token %}
              {% if user in review.likes.all %}
                <input type="submit" value="취소" class="product-review-like_btn mb-5" id="like-{{review.review.pk}}">
              {% else %}
                <input type="submit" value="도움이 돼요" class="product-review-like_btn mb-5" id="like-{{review.review.pk}}">
              {% endif %}
            </form>

            <hr>
          {% endfor %}
        </div>

          <!-- 페이지네이션 -->
          <div class="product-pagination">
            <ul class="inline-flex items-center -space-x-px">
              <li>
                <a href="#" class="block px-3 py-2 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                  <span class="sr-only">Previous</span>
                  <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                </a>
              </li>
              <li>
                <a href="#" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">1</a>
              </li>
              <li>
                <a href="#" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">2</a>
              </li>
              <li>
                <a href="#" aria-current="page" class="z-10 px-3 py-2 leading-tight text-blue-600 border border-blue-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white">3</a>
              </li>
              <li>
                <a href="#" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">4</a>
              </li>
              <li>
                <a href="#" class="px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">5</a>
              </li>
              <li>
                <a href="#" class="block px-3 py-2 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                  <span class="sr-only">Next</span>
                  <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                </a>
              </li>
            </ul>
          </div>

          <!-- 문의 -->
          <div class="product-review mt-12">
            <p class="text-lg font-semibold">문의 <span style="color:#99CCFF">{{ inquiries|length }}</span></p>
            {% comment %} <button class="font-semibold" style="color:#99CCFF;" type="button">
              <a class="btn btn-[#99ccff] font-semibold ms-64" href="#">전체보기</a>
            </button>
            <button class="font-semibold" style="color:#99CCFF;" type="button">
              <a class="btn btn-[#99ccff] font-semibold" href="#">완료된 답변만 보기</a>
            </button> {% endcomment %}
            <button data-modal-target="staticModal2" data-modal-toggle="staticModal2" class="font-semibold" style="color:#99CCFF;" type="button">
              문의하기
            </button>
          </div>

          <!-- inquiry modal -->
          <div id="staticModal2" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full z-[999]">
            <div class="relative w-full max-w-2xl max-h-full">
              <!-- Modal content -->
              <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <!-- Modal header -->
                <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                  <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                      문의하기
                  </h3>
                  <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="staticModal2">
                    <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                  </button>
                </div>
                <!-- Modal body -->
                <div class="p-6 space-y-6">
                  <div>
                    <form action="{% url 'products:inquiry_create' product_pk=product.pk %}" method="POST">
                      {% csrf_token %}
                      {{ inquiry_form|crispy }}
                      <button type="submit" class="text-white font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" style="background-color:#99CCFF;">작성하기</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          
          <div>
            {% for inquiry in inquiries %}
              <div class=" mb-10">
                {% if user.is_staff %} <!-- admin일 때 -->
                  {% if inquiry.inquiry.answer %}
                    <p class="product-inquiry-header1">
                      답변 대기 | <span style="color:#99CCFF;">답변완료</span>
                    </p>
                    <p class="product-inquiry-header2">
                      {{ inquiry.inquiry.user }} | {{ inquiry.inquiry.created_at }}
                    </p>
      
                    <!-- question -->
                    <div class=" mb-2.5">
                      <p style="color: #bdbdbd; font-size: 12px;" class='mt-3'><span class="product-inquiry-qa">Q &nbsp;</span>{{ product.name }} | {{ product.category.switch }}</p>
                      <p class='ms-5 mb-5'>{{ inquiry.inquiry.content }}</p>
                    </div>
                    
                    <!-- answer -->
                    <p><span class="product-inquiry-qa">A &nbsp;</span><span style="font-weight: 700; color: #424242; font-size: 15px;">주식회사 인스토어 &nbsp;</span><span style="font-size: 12px; color: #bdbdbd;">{{ answer.created_at }}</span></p>
                    <p class='ms-5'>{{ inquiry.inquiry.answer.content }}</p>

                    <form action="{% url 'products:answer_delete' product_pk=product.pk inquiry_pk=inquiry.inquiry.pk answer_pk=inquiry.inquiry.answer.pk %}" method="POST">
                      {% csrf_token %}
                      <button type="submit"class="font-semibold mb-10" style="color:#99CCFF;" type="button">답변 삭제</button>
                    </form>

                  {% else %}
                    <p class="product-inquiry-header1">
                      <span style="color:#99CCFF;">답변 대기</span> | 답변완료
                    </p>
                    <p class="product-inquiry-header2">
                      {{ inquiry.inquiry.user }} | {{ inquiry.inquiry.created_at }}
                    </p>
      
                    <!-- question -->
                    <div class=" mb-2.5">
                      <p style="color: #bdbdbd; font-size: 12px;" class='mt-3'><span class="product-inquiry-qa">Q &nbsp;</span>{{ product.name }} | {{ product.category.switch }}</p>
                      <p class='ms-5 mb-5'>{{ inquiry.inquiry.content }}</p>
                    </div>

                    <button data-modal-target="staticModal_{{ inquiry.inquiry.pk }}" data-modal-toggle="staticModal_{{ inquiry.inquiry.pk }}" class="font-semibold" style="color:#99CCFF;" type="button">
                      답변하기
                    </button>
                  {% endif %}

                {% else %} <!-- admin이 아닐 때 -->
                  {% if inquiry.inquiry.answer %}
                    <p class="product-inquiry-header1">
                      답변 대기 | <span style="color:#99CCFF;">답변완료</span>
                    </p>
                    <p class="product-inquiry-header2">
                      {{ inquiry.inquiry.user }} | {{ inquiry.inquiry.created_at }}
                    </p>
      
                    <!-- question -->
                    <div class=" mb-2.5">
                      <p style="color: #bdbdbd; font-size: 12px;" class='mt-3'><span class="product-inquiry-qa">Q &nbsp;</span>{{ product.name }} | {{ product.category.switch }}</p>
                      <p class='ms-5 mb-5'>{{ inquiry.inquiry.content }}</p>
                    </div>
                    
                    {% if request.user == inquiry.inquiry.user %}
                      <form action="{% url 'products:inquiry_delete' product_pk=product.pk inquiry_pk=inquiry.inquiry.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit"class="font-semibold mb-10" style="color:#99CCFF;" type="button">댓글 삭제</button>
                      </form>
                    {% endif %}

                    <!-- answer -->
                    <p><span class="product-inquiry-qa">A &nbsp;</span><span style="font-weight: 700; color: #424242; font-size: 15px;">주식회사 인스토어 &nbsp;</span><span style="font-size: 12px; color: #bdbdbd;">{{ answer.created_at }}</span></p>
                    <p class='ms-5'>{{ inquiry.inquiry.answer.content }}</p>
                  
                  {% else %}
                    <p class="product-inquiry-header1">
                      <span style="color:#99CCFF;">답변 대기</span> | 답변완료
                    </p>
                    <p class="product-inquiry-header2">
                      {{ inquiry.inquiry.user }} | {{ inquiry.inquiry.created_at }}
                    </p>

                    <!-- question -->
                    <div class=" mb-2.5">
                      <p style="color: #bdbdbd; font-size: 12px;" class='mt-3'><span class="product-inquiry-qa">Q &nbsp;</span>{{ product.name }} | {{ product.category.switch }}</p>
                      <p class='ms-5 mb-5'>{{ inquiry.inquiry.content }}</p>
                    </div>

                    {% if request.user == inquiry.inquiry.user %}
                      <form action="{% url 'products:inquiry_delete' product_pk=product.pk inquiry_pk=inquiry.inquiry.pk %}" method="POST">
                        {% csrf_token %}
                        <button type="submit"class="font-semibold mb-10" style="color:#99CCFF;" type="button">댓글 삭제</button>
                      </form>
                    {% endif %}

                  {% endif %}
                {% endif %}
              </div>


              <!-- answer modal -->
              <div id="staticModal_{{ inquiry.inquiry.pk }}" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-1000 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full z-[999]">
                <div class="relative w-full max-w-2xl max-h-full">
                  <!-- Modal content -->
                  <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                    <!-- Modal header -->
                    <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                      <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                          답변하기
                      </h3>
                      <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="staticModal_{{ inquiry.inquiry.pk }}">
                        <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                      </button>
                    </div>
                    <!-- Modal body -->
                    <div class="p-6 space-y-6">
                      <div>
                        <form action="{% url 'products:answer_create' product_pk=product.pk inquiry_pk=inquiry.inquiry.pk %}" method="POST">
                          {% csrf_token %}
                          {{ answer_form|crispy }}
                          <button type="submit" class="text-white font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800" style="background-color:#99CCFF;">작성하기</button>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class='mb-20'>

              </div>
            {% endfor %}
          </div>


          <!-- 추천 상품 -->
          <div></div>

        </div>

        <!-- 구매창 -->
        <div class="basis-2/5 mx-12 product-sidebar" style="">
          <div class="mt-12">
            <select id="category-select2" class="mt-3 bg-gray-50 border border-gray-300 text-gray-900 mb-6 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" style="border: 1px solid #99CCFF">
              <option selected disabled>스위치</option>
              <option value="청축">청축({{ product.discounted_price }}원)</option>
              <option value="갈축">갈축({{ product.discounted_price }}원)</option>
              <option value="적축">적축({{ product.discounted_price }}원)</option>
            </select>
            
            <div id="options-container2" class="hidden product-select">
              <label for="quantity-select2"></label>
              <div class="select" style="display: flex; justify-content: space-between;">
                <div class="product-select-cnt">
                  <button class="decrement-quantity" data-target="quantity-product-1">-</button>
                  <input type="text" id="cnt2" class="quantity product-category-select" value="1" readonly>
                  <button class="increment-quantity" data-target="quantity-product-1">+</button>
                </div>
                <p  style="display: flex; align-items: end; font-size: 18px;"><span class="counted-price">{{ product.discounted_price }}</span> 원</p>
              </div>
            </div>
          </div>
          <div class="flex product-price mb-6">
            <span>주문금액</span>
            <p><span class="counted-price">{{ product.discounted_price }}</span> 원</p>
          </div>
          <div class="flex flex-row mt-2" style="justify-content: space-around;">
            {% comment %} <button id="add-to-cart-button" class="basis-1/2 rounded-none product-cart-btn m-1" style="border-radius: 4px;">장바구니</button> {% endcomment %}
            <form method="POST" action="{% url 'products:cart_create' product_pk=product.pk %}">
              {% csrf_token %}
              {% comment %} <input type= "hidden" value = {{ cnt }} name="cnt"> {% endcomment %}
              <input type= "hidden" name="cnt">
              <button type="submit" class="basis-1/2 rounded-none product-cart-btn m-1" style="border-radius: 4px;">장바구니</button>
            </form>
            {% comment %} <button class="basis-1/2 rounded-none product-purchase-btn m-1" style="border-radius: 4px;">바로구매</button> {% endcomment %}
            <form method="post" action="{% url 'products:purchase_from_detail' product_pk=product.pk %}">
              {% csrf_token %}
              <label for="cnt"></label>
              {% comment %} <input type= "hidden" value = {{ cnt }} name="cnt"> {% endcomment %}
              <input type= "hidden" name="cnt">
              <button type="submit" class="basis-1/2 rounded-none product-purchase-btn m-1" style="border-radius: 4px; background-color: #99CCFF;">구매하기</button>
            </form>
          </div>
        </div>
      </div>
  </main>

  
{% endblock content %}

{% block script %}
<script type="text/javascript" src="/static/JS/product_detail.js"></script>
<script src="{% static 'axios.min.js' %}"></script>
<script>
  // a태그 비동기 처리
  {% comment %} document.querySelectorAll('a[href^="#"]').forEach(anchor => {
    anchor.addEventListener('click', function (e) {
      e.preventDefault();
    });
  }); {% endcomment %}

  

  // 별점
  // stars 요소에 별점 추가
  const starsEl = document.querySelectorAll(".stars");
  starsEl.forEach((stars) => {
    const numStars = Number(stars.textContent); // 출력할 별점 개수
    stars.textContent = ''
    const star = '<svg fill="#99CCFF" width=".8em" height=".8em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><defs><path id="star-path-31" d="M11.9996 19.7201L6.32294 22.1251C5.5626 22.4472 5.005 22.0311 5.0755 21.2188L5.60855 15.0767L1.5671 10.421C1.02579 9.79745 1.24924 9.13855 2.04358 8.95458L8.04973 7.56354L11.2287 2.28121C11.6545 1.57369 12.3502 1.5826 12.7706 2.28121L15.9496 7.56354L21.9557 8.95458C22.7602 9.1409 22.9667 9.8053 22.4322 10.421L18.3907 15.0767L18.9238 21.2188C18.9952 22.0414 18.4271 22.4432 17.6764 22.1251L11.9996 19.7201Z"></path><clipPath id="star-clip-31"><rect x="0" y="0" width="24" height="24"></rect></clipPath></defs><use xlink:href="#star-path-31" fill="#DBDBDB"></use><use clip-path="url(#star-clip-31)" xlink:href="#star-path-31"></use></svg>'
    for (let i = 0; i < numStars; i++) {
      stars.innerHTML += star;
    }
    stars.classList.add('flex', 'items-center')
  })

  const forms = document.querySelectorAll('.like-forms')
  const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value

  forms.forEach((form) => {
    form.addEventListener('submit', function (event) {
      event.preventDefault()
      const reviewId = event.target.dataset.reviewId
      console.log(reviewId)
      axios({
        method: 'post',
        url: `http://127.0.0.1:8000/products/review/${reviewId}/likes/`,
        headers:{'X-CSRFToken': csrftoken},
      })
      .then((response) => {
        const isLiked = response.data.liked
        console.log(isLiked)
        const likeBtn = document.querySelector(`#like-${reviewId}`)
        if (isLiked === true) {
          likeBtn.value = '취소'
          console.log(likeBtn)
        } else {
          likeBtn.value = '도움이 돼요'
        }
      })
      .catch((error) => {
        console.log(error.response)
      })
    })
  })

</script>
{% endblock script %}