<!DOCTYPE html>
{% load static %}
{% load humanize %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="{% static 'css/email.css' %}">
  <title>주문 명세서</title>
</head>
<body>
  <h2 class="text-center">🔔주문 명세서🔔</h2>
  <h3>{{ purchase.user.get_full_name }}님, 저희 Keyboard Warrior를 이용해주셔서 정말 감사합니다!</h3>
  <h3>그러나 죄송하게도 상품 배달은 어렵습니다😅</h3>
  <h3>상세 정보는 아래와 같습니다. 좋은 하루되세요!</h3>
  <ul class="text-center list-none">
    <li>주문 번호: {{ purchase.pk }}</li>
    <li>주문 일자: {{ purchase.purchase_date }}</li>
    <li>배송지: {{ purchase.address }}</li>
    <li>총 주문 금액: {{ purchase.total_price|intcomma }}원</li>
    <li>결제 금액: {{ purchase.total_price|intcomma }}원</li>
  </ul>
  <hr>
      <table>
        <caption>주문 상세</caption>
        <tr>
            <th scope="col">상품명</th>
            <th scope="col">수량</th>
            <th scope="col">소계</th>
        </tr>
        {% for purchase_item in purchase_items %}
          <tr>
              <th scope="row">{{ purchase_item.product.name }}</th>
              <td>{{ purchase_item.cnt }}</td>
              <td>{{ purchase_item.price|intcomma }}원</td>
          </tr>
        {% endfor %}
      </table>
</body>
</html>
