{% extends 'base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static '/css/purchase.css' %}">
  <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
{% endblock head %}

{% block content %}
  <form method="POST" action="{% url 'products:purchase_from_detail' product.pk %}">
    {% csrf_token %}
    <div class="flex gap-10">
      <div class="basis-2/3">
        <h1 class="font-bold text-2xl mb-10">주문</h1>
        <div class="mb-20">
          <p class="title">주문자</p>
          <hr class="my-4">
          <div class="flex justify-between">
            <div class="relative grow">
              <div class="user-info">
                <p class="user-label">이름</p>
                <input type="text" name="info" value={{ user.last_name }}{{ user.first_name }}>
              </div>
              <div class="user-info">
                <p class="user-label">이메일</p>
                <input type="text" name="info" value={{ user.email }}>
              </div>
              <div class="user-info">
                <p class="user-label">휴대전화</p>
                <input type="text" name="info" value={{ user.phone_number }}>
              </div>
            </div>
            <div class="relative grow">
              <div class="user-info">
                <div class="user-label">주소</div>
                  <div class="flex w-full justify-between">
                    <input type="number" id="postalcode" name="info" class="w-full mr-4" placeholder="우편번호" readonly>
                    <button type="button" id="address" class="shrink-0 bg-[#99ccff] hover:bg-[#7dafe1] text-white font-bold py-2 px-4 rounded">주소찾기</button>
                  </div>
              </div>
              {{ form.address }}
            </div>
          </div>
        </div>
        <h2 class="title">주문상품 <span class="text-sm font-normal text-gray-500 pl-2">1건</span></h2>
        <hr class="my-4">
        <div class="item wrap-border">
          <div class="brand">
            <p>{{ product.category.brand }}</p>
          </div>
          <div class="item-content">
            <div class="item-img wrap-border">
              {% if product.product_img %}
                <img src="{{ product.product_img.url }}" alt="">
              {% else %}
                <img src="{% static 'img/default_img.svg' %}" alt="">
              {% endif %}
            </div>
            <div class="flex flex-col justify-between ml-6">
              <p class="text-sm">{{ product.name }}</p>
              <div class="flex items-center gap-4 item-price">
                <p class="price"><span>{{ product.discounted_price }}</span>원</p>
                <p class="text-xs text-gray-500"><span>{{ cnt }}</span>개</p>
                <input name="cnt" type="hidden" value="{{ cnt }}" readonly>
              </div>
            </div>
            <div class="">
              <div class="">
                {% comment %} <h5 class="card-title">{{ item.product.name }}</h5> {% endcomment %}
                {% comment %} <p class="card-text">수량: {{ item.cnt }}</p> {% endcomment %}
                <input class="card-text" name="products_1" type="hidden" value="{{ product.pk }}" readonly>
              </div>
            </div>
          </div>
        </div>
      </div>
        <div class="basis-1/3">
          <div class="sidebar">
            <div class="wrap-border p-4 mb-6">
              <div class="flex font-bold">
                <p class="grow">최종 결제 금액</p>
                <span id="total-price"></span>원
              </div>
            </div>
            <input class="card-text" name="cart_pks" type="hidden" value="{{ cart_pks }}" readonly>
            <button class="main-btn">주문하기</button>
          </div>
        </div>
      </form>
    </div>
{% endblock content %}

{% block script %}
  <script>
    let user_address = '{{ user.user_address }}'
  </script>
  <script src="{% static '/js/purchase.js' %}"></script>
  <script src="{% static '/js/address.js' %}"></script>
{% endblock script %}