{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}주문결과{% endblock title %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/purchase_complete.css' %}">
{% endblock head %}

{% block content %}
    <h2 class="title my-5">주문결과</h2>
    <p class="report">주문결제가 완료되었습니다😄</p>
    <p class="my-3 info text-slate-500"> 주문번호: {{ purchase.pk }} / 주문일자: {{ purchase.purchase_date }}</p>
    <hr>
    {% for purchase_item in purchase_items %}
      <div class="max-w-md mx-auto bg-white rounded-xl shadow-md overflow-hidden md:max-w-2xl my-5">
        <div class="md:flex">
          <div class="md:shrink-0">
            {% if purchase_item.product.product_img %}
            <img class="h-48 w-full object-cover md:h-full md:w-48" src="{{ purchase_item.product.product_img.url }}" alt="상품사진">
            {% else %}
            <img class="h-48 w-full object-cover md:h-full md:w-48" src="{% static 'img/default_img.svg' %}" alt="no_image">
            {% endif %}
          </div>
          <div class="p-10">
            <div class="uppercase tracking-wide text-sm text-500 main-color font-semibold">{{ purchase_item.product.category.brand }}</div>
            <a href="{% url 'products:product_detail' purchase_item.product.pk %}" class="block mt-1 text-lg leading-tight font-medium text-black hover:underline">{{ purchase_item.product.name }}</a>
            <p class="mt-2 text-slate-500">{{ purchase_item.price|intcomma }}원|{{ purchase_item.cnt }}개</p>
            <p class="main-color">결제완료</p>
          </div>
        </div>
      </div> 
    {% endfor %}
{% endblock content %}


